.order-list-container {
  border: 1px solid #eaeaea;
  max-width: 960px;
  margin: auto;
  .row {
    margin: 0;
  }
}

.order-card-container {
  padding: 0 2rem 1.5rem 2rem;

  .card {
    border: none;
  }
  .row {
    margin: 0;
  }
  .card-body {
    padding: 0;
  }
  .col {
    padding: 0;
  }
  .order-num {
    font-size: 1rem;
  }
  .status {
    p {
      margin: 0;
    }
  }
}

.order-container {
  padding-bottom: 1.5rem !important;
  border-bottom: 1px solid#EAEAEA;
}

.order-list-title {
  padding: 1.75rem 2.75rem;
  position: relative;

  span {
    font-size: 1.25rem;
    color: #2a2a3a;
    font-weight: 300;
  }

  span:before {
    content: "";
    position: absolute;
    height: 1.3rem;
    width: 0.2rem;
    top: 2.2rem;
    left: 2rem;
    background-color: #96daf0;
  }
}

.order-info-container {
  margin-left: 2.5rem;

  .product-duration {
    margin: 0;
    padding: 0;
  }
}

.to-comment {
  display: inline-block;
  // position: absolute;
  // right:10px;
  // bottom:1.5rem;
  width: 7rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 0;
  color: #2a2a3a;
  border: 1px solid #2a2a3a;
}
.to-comment:hover {
  background: #d5d5d5;
  border: 1px solid #d5d5d5;
}
