.TripMenuFooterBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15%;
}

.TripMenuFooterBox h1 {
  font-size: 3.75rem;
}

.TripMenuFooterBox .TripMenuFooterBoxLeft {
  width: 515px;
}

.TripMenuFooterBox .TripMenuFooterBoxLeft p {
  color: #96daf0;
}

.TripMenuFooterBox .TripMenuFooterBoxLeft h1 {
  color: #242a3a;
}

.TripMenuFooterBox .TripMenuFooterBoxLeft .TripMenuFooterBoxLeftInside {
  width: 100%;
  border: 1px solid #eaeaea;
  margin-top: 30px;
}

.TripMenuFooterBox .TripMenuFooterBoxRight {
  width: 45%;
}

.TripMenuFooterBox .TripMenuFooterBoxRight p {
  color: #96daf0;
}

.TripMenuFooterBox .TripMenuFooterBoxRight h1 {
  color: #242a3a;
}

.TripMenuFooterBox .sliderBox {
  height: 260px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TripMenuFooterBox .sliderBox img {
  border-radius: 50%;
}

.TripMenuFooterBox .slick-list {
  height: 260px;
}

.TripMenuFooterBox .TripFooterCarousel h3 {
  color: #242a3a;
}

.TripMenuFooterBox .TripFooterCarousel .TripFooterDes {
  color: #96daf0;
}

.TripMenuFooterBox .TripFooterCarousel .TripFooterDes2 {
  color: #74767d !important;
}

.TripMenuFooterBox .slick-dots {
  margin-bottom: 40px;
  margin-left: 100px;
}

.TripMenuFooterBox .slick-arrow {
  display: none !important;
}

.TripMenuFooterBox .TripMenuFooterBoxRightInside {
  margin-top: 30px;
}

.TripMenuFooterBox .TripMenuFooterRightRow1 {
  width: 515px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.TripMenuFooterBox .TripMenuFooterRightRow2 {
  width: 515px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.TripMenuFooterBox .TripActiveBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eaeaea;
  height: 130px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.TripMenuFooterBox .TripActiveBox p {
  color: #242a3a !important;
  position: absolute;
  z-index: 2;
}

.TripMenuFooterBox .TripActiveCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
  border: 4px solid #eaeaea;
  border-radius: 50%;
  position: absolute;
  left: 30px;
}

.TripMenuFooterBox .TripActiveCircle .TripMenuIcon {
  width: 24px;
  height: 24px;
  fill: #242a3a;
  position: absolute;
  z-index: 2;
}

.TripMenuFooterBox .backgroundCover {
  width: 260px;
  height: 0%;
  bottom: 0;
  background: #242a3a;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.TripMenuFooterBox .WhiteCircle {
  height: 80px;
  width: 80px;
  position: absolute;
  border: 4px solid #fff;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  z-index: 2;
}

.TripMenuFooterBox .TripActiveBox:hover .backgroundCover {
  height: 100%;
}

.TripMenuFooterBox .TripActiveBox:hover .WhiteCircle {
  height: 60px;
  width: 60px;
}

.TripMenuFooterBox .TripActiveBox:hover .TripMenuIcon {
  fill: #fff !important;
}

.TripMenuFooterBox .TripActiveBox:hover p {
  color: #fff !important;
}

@media (max-width: 992px) {
  .TripMenuFooterBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .TripMenuFooterBox .TripMenuFooterBoxRight {
    margin-top: 25%;
  }
}
/*# sourceMappingURL=TripMenuFooter.css.map */