.TripMenuFooterBox{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top:15%;
		h1{
			font-size: 3.75rem;
		}
		.TripMenuFooterBoxLeft{
			width: 515px;
			p{
				color:#96DAF0;
			}
			h1{
				color:#242a3a;
			}
			.TripMenuFooterBoxLeftInside{
				width: 100%;
				border:1px solid #eaeaea;
				margin-top:30px;
			}
		}
		.TripMenuFooterBoxRight{
			width: 45%;
			p{
				color:#96DAF0;
			}
			h1{
				color:#242a3a;
			}
		}

	.sliderBox{
		height: 260px;
		display: flex !important;
		justify-content: space-around;
		align-items: center ;
		img{
			border-radius: 50%;
		}
	}
	.slick-list{
		height:260px;
	}
	.TripFooterCarousel{
		h3{
			color:#242a3a;
		}
		.TripFooterDes{
			color:#96DAF0;
		}
		.TripFooterDes2{
			color:#74767D !important;
		}
	}
	.slick-dots{
		margin-bottom:40px;
		margin-left:100px;
	}
	.slick-arrow{
		display: none !important;
	}

	//右邊Box
	.TripMenuFooterBoxRightInside{
		margin-top:30px;
	}
	.TripMenuFooterRightRow1{
		width: 515px;
		display: flex;
	}
	.TripMenuFooterRightRow2{
		width: 515px;
		display: flex;
	}
	.TripActiveBox{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		border:1px solid #eaeaea;
		height: 130px;
		width: 100%;
		cursor: pointer;
		position: relative;
		p{
			color:#242a3a !important;
			position: absolute;
			z-index: 2;
		}
	}
	.TripActiveCircle{
		display: flex;
		align-items: center;
		justify-content:center;
		height: 60px;
		width: 60px;
		border:4px solid #eaeaea;
		border-radius: 50%;
		position: absolute;
		left:30px;
		.TripMenuIcon{
			width: 24px;
			height:24px;
			fill:#242a3a;
			position: absolute;
			z-index: 2;
		}
	}

	.backgroundCover{
		width: 260px;
		height: 0%;
		bottom:0;
		background: #242a3a;
		position: absolute;
		transition: 0.5s;
		z-index: 1;
	}
	.WhiteCircle{
		height: 80px;
		width: 80px;
		position: absolute;
		border:4px solid #fff;
		border-radius: 50%;
		transition:.5s;
		transition-timing-function:ease-in-out;
		z-index: 2;
	}
	.TripActiveBox:hover .backgroundCover{
		height: 100%;
	}
	.TripActiveBox:hover .WhiteCircle{
		height: 60px;
		width: 60px;
	}
	.TripActiveBox:hover .TripMenuIcon{
		fill:#fff !important;
	}
	.TripActiveBox:hover p{
		color:#fff !important;
	}


	@media (max-width: 992px) { 
			display: flex;
			flex-direction: column;
			.TripMenuFooterBoxRight{
				margin-top:25%;
			}
	}

}