.travelCarouselContainer {
  padding: 0;
  height: 570px;
  margin-top: 5rem;
}

.travelCarouselContainer .sub-title {
  color: #96daf0;
  margin-bottom: 1rem;
  letter-spacing: 0.4375rem;
}

.travelCarouselContainer .main-title {
  color: #242a3a;
  margin-bottom: 4.5rem;
  font-size: 2.5rem;
}

.travelCarouselContainer .rectNavyBlue::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 35px;
  height: 570px;
  width: 35%;
  background-color: #242a3a;
}

.travelCarouselContainer .rectNavyBlue {
  height: 570px;
  width: 100%;
  color: #242a3a;
  position: relative;
}

.travelCarouselContainer .rectNavyBlue .slider-container {
  position: absolute;
  width: 80%;
  margin-top: 100px;
  margin-right: 0;
  margin-left: 30%;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .slick-list {
  margin-top: 20px;
  height: 500px;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .slick-dots {
  display: none !important;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .slick-arrow {
  display: none !important;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .slick-track {
  height: 570px;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card {
  border: none;
  border-radius: 0;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 3px 3px 8px rgba(105, 105, 105, 0.616);
          box-shadow: 3px 3px 8px rgba(105, 105, 105, 0.616);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none !important;
  height: 405px;
  width: 319px;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card .card-img-top {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  height: 400px;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card .card-img-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card h3 {
  color: #242a3a;
  margin: 10px 0 5px 0;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card .card-text {
  color: #96daf0;
  font-size: 1rem;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card .days {
  color: #242a3a;
  margin-top: 10px;
  width: 30%;
  text-decoration: none;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card .days img {
  margin: 0 10px 0 0;
  height: 12px;
  width: 12px;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card .card-price {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card .card-price span {
  color: #242a3a;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card .card-price p {
  color: #96daf0;
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  text-decoration: none;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card .fallow {
  display: block;
  margin-left: auto;
  background-color: #242a3a;
  color: #ffffff;
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .tavel-card:hover .card-img-top img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.travelCarouselContainer .rectNavyBlue .main-slide2 .out a {
  text-decoration: none;
}

.travelCarouselContainer .sub-slide {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  bottom: 30%;
  left: -15%;
  width: 90px;
}

.travelCarouselContainer .sub-slide h1 {
  text-align: center;
  font-size: 3.75rem;
  font-weight: 600;
  color: #fff;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.travelCarouselContainer .sub-slide .slick-dots {
  margin-bottom: 110px;
  margin-left: 10px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.travelCarouselContainer .sub-slide .slick-dots button {
  color: #fff !important;
}

.travelCarouselContainer .sub-slide .slick-dots button::before {
  color: #fff;
}

.travelCarouselContainer .sub-slide .slick-dots .slick-active button::before {
  color: #fff !important;
}

.travelCarouselContainer .sub-slide .slick-prev {
  position: absolute;
  top: 150px;
  left: 15px;
  width: 60px;
  height: 60px;
  border: 4px solid #eaeaea;
  border-radius: 50%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.travelCarouselContainer .sub-slide .slick-next:hover {
  border-color: #96daf0;
}

.travelCarouselContainer .sub-slide .slick-prev:hover {
  border-color: #96daf0;
}

.travelCarouselContainer .sub-slide .slick-next {
  position: absolute;
  top: 225px;
  left: 15px;
  width: 60px;
  height: 60px;
  border: 4px solid #eaeaea;
  border-radius: 50%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.travelCarouselContainer .sub-slide .slick-prev:before {
  content: url("./images/svg/arrow-left-solid.svg");
}

.travelCarouselContainer .sub-slide .slick-next:before {
  content: url("./images/svg/arrow-right-solid.svg");
}

@media screen and (max-width: 1728px) {
  .travelCarouselContainer .slider-container {
    width: 90% !important;
    margin-left: 30% !important;
  }
}

@media screen and (max-width: 1530px) {
  .travelCarouselContainer .slider-container {
    width: 80% !important;
    margin-left: 25% !important;
  }
}

@media screen and (max-width: 1320px) {
  .travelCarouselContainer .slider-container {
    width: 100% !important;
    margin-left: 20% !important;
  }
}

@media screen and (max-width: 1065px) {
  .travelCarouselContainer .slider-container {
    width: 80% !important;
    margin-left: 20% !important;
  }
}

@media screen and (max-width: 678px) {
  .travelCarouselContainer .main-title {
    margin-bottom: 0;
  }
  .travelCarouselContainer .main-slide2 .slick-list {
    margin-top: 20px;
    margin-left: 50px;
  }
  .travelCarouselContainer .slider-container {
    width: 100% !important;
    left: 50%;
    -webkit-transform: translate(-38%, 0);
            transform: translate(-38%, 0);
    margin-left: 0% !important;
  }
  .travelCarouselContainer .slider-container .tavel-card {
    margin: 0 20px 0 20px !important;
  }
  .travelCarouselContainer .sub-slide {
    display: none;
  }
  .travelCarouselContainer .rectNavyBlue::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 30%;
    height: 400px;
    width: 100%;
    background-color: #242a3a;
  }
}
/*# sourceMappingURL=TripDes2Carousel.css.map */