.TripDes1Box{
	display: flex;
	justify-content: space-between;
	margin-top:100px;
}
.TripDes1LeftBox{
	width: 35%;
	.TripDes1LeftImg{
		width: 100%;
		height:350px;
	}
	h4{
		color:#242a3a;
		margin-right: 203px;
		margin:20px 0 ;
	}
	ul{
		padding:20px;
	}
	li{
		margin:15px 0 ;
		list-style: none;
		color:#242a3a;
	}
	li:before{
		content: "\2022";    
		color: #96DAF0;      
		font-size: 1rem; 
		margin-left:-20px;
		margin-right: 20px;
	}

}
.TripDes1RightBox{
	width: 55%;
	.TripDes1RightImg{
		width: 100%;
		height:350px;
	}
	h4{
		// font-size: 1.5rem;
		color:#242a3a;
		margin-right: 203px;
		margin:20px 0 ;
	}
	p{
		margin-top:50px;
		color:#74767d;
		line-height: 30px;
	}
}

@media(max-width:992px){
	.TripDes1LeftImg{
		width: 100%;
		height:230px !important;
	}
	.TripDes1RightImg{
		width: 100%;
		height:230px !important;
	}
}
@media(max-width:768px){
	.TripDes1Box{
		display: flex;
		flex-direction: column;
	}
	.TripDes1LeftBox{
		width: 100%;
	}
	.TripDes1RightBox{
		width: 100%;
	}
	.TripDes1LeftImg{
		height:300px !important;
	}
	.TripDes1RightImg{
		height:300px !important;
	}
}
