.pwd-reset-container {
  max-width: 450px;
  margin: 280px auto 0 auto;

  .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
  }

  .btn:focus {
    background-color: none !important;
    box-shadow: none !important;
    border-color: #96daf0 !important;
  }

  

  input {
    max-width: 300px;
    margin: auto;
    border-radius: 0;
  }

  .error-msg {
    max-width: 300px;
    margin: 5px auto;
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 12px;
    height: 20px;
  }

  .btn-container {
    max-width: 300px !important ;
    margin: auto !important;
  }

  button {
    width: 100%;
    border-radius: 0;
  }

  .submit {
    margin: 0px auto 40px auto;
    background: #cacaca;
    border: 1px solid #cacaca;
    color: #fff;
    font-weight: 300;
  }

  .submit:hover {
    background-color: #96daf0;
    border-color: transparent;
    color: #fff;
    transition: 0.5s;
  }
}
