.categories-outer-container {
  padding-right: 80px;
}

.dealSuccess {
  margin-top: 200px;
}

.myBreadCrumb {
  font-size: 14px;
  width: 100%;
  position: fixed;
  top: 80px;
  background-color: #242a3a;
  color: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.myBreadCrumb a {
  color: #fff;
  text-decoration: none;
}

.myBreadCrumb .current {
  color: #96daf0 !important;
}

.sectionCheckOut {
  padding: 150px 0 0 0;
}

.sectionCheckOut .font-size-14 {
  font-size: 14px;
}

.sectionCheckOut .categories-container {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.sectionCheckOut .card-body {
  padding: 0 0 0 20px;
}

.sectionCheckOut .cartItem .itemImg {
  width: 145px;
  height: 145px;
}

.sectionCheckOut .cartItem .itemImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sectionCheckOut .productCategory {
  color: #96daf0;
}

.sectionCheckOut .discountPrice {
  color: red;
}

.sectionCheckOut .qtyBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #ababab;
}

.sectionCheckOut .minusBtn {
  margin-left: 20px;
  border-right: none;
}

.sectionCheckOut .plus {
  border-left: none;
}

.sectionCheckOut .counter {
  text-align: center;
  height: 22px;
  width: 50px;
  color: #ababab;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.sectionCheckOut .deleteBtn {
  position: relative;
  width: 16px;
  height: 16px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
}

.sectionCheckOut .deleteBtn .slash {
  position: absolute;
  width: 23px;
  height: 1px;
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #ababab;
  left: 0;
  pointer-events: none;
}

.sectionCheckOut .deleteBtn .leftLine {
  top: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sectionCheckOut .deleteBtn .rightLine {
  bottom: -1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sectionCheckOut .tripCartItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  margin-top: 20px;
}

.sectionCheckOut .tripCartItem .itemImg {
  margin: 0;
  width: 145px;
  height: 145px;
}

.sectionCheckOut .tripCartItem .itemImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sectionCheckOut .tripCartItem .tripType {
  color: #96daf0;
}

.sectionCheckOut #couponDropdown {
  width: 100%;
  background-color: #96daf0;
  color: #242a3a;
  border: none;
}

.sectionCheckOut #couponDropdown:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sectionCheckOut .dropdown-menu.show {
  width: 100%;
  margin: 0;
}

.sectionCheckOut .dropdown-menu.show .dropdown-item {
  text-align: center;
}

.sectionCheckOut .dropdown-menu.show .dropdown-item:hover {
  background-color: #242a3a;
  color: #fff;
}

.sectionCheckOut .orderDetail {
  color: #242a3a;
  display: block !important;
}

.sectionCheckOut .orderDetail label {
  margin: 0;
  width: 100%;
  padding-left: 5px;
}

.sectionCheckOut .orderDetail input {
  margin-top: 3px;
}

.sectionCheckOut .orderDetail .delivery-method {
  border: 1px solid #e8e8e8;
  padding: 20px;
}

.sectionCheckOut .payment-container {
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #eaeaea;
}

.sectionCheckOut .payment-container .error-msg {
  font-size: 12px;
  text-align: center;
  height: 25px;
  margin: 10px auto 0 auto;
  padding: 0 !important;
}

.sectionCheckOut .payment-container .alert-danger {
  background-color: transparent !important;
  border: none !important;
}

.sectionCheckOut .payment-container .alert-success {
  background-color: transparent !important;
  border: none !important;
  color: #155724 !important;
}

.sectionCheckOut .payment-container input {
  width: 100%;
}

.sectionCheckOut .payment-container label {
  width: 100%;
  text-align: left;
  margin: 8px 0;
}

.sectionCheckOut .payment-container .invalid-date {
  width: 45%;
  margin-right: 10px;
}

.sectionCheckOut .payment-container .security-code {
  width: 45%;
  margin-left: auto;
}

.sectionCheckOut .checkout-btn-container {
  width: 100%;
}

.sectionCheckOut .checkout-btn-container .checkout-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem !important;
  width: 180px;
  height: 35px;
  background-color: #242a3a;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
}

.sectionCheckOut .checkout-btn-container .checkout-btn:hover .mask {
  top: 0;
}

.sectionCheckOut .checkout-btn-container .checkout-btn:hover .font {
  color: #242a3a;
}

.sectionCheckOut .checkout-btn-container .checkout-btn .mask {
  background-color: #96daf0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.sectionCheckOut .checkout-btn-container .checkout-btn .font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 3;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 992px) {
  .sectionCheckOut .categories-outer-container {
    padding-right: 15px;
  }
  .sectionCheckOut .categories-outer-container {
    width: 90%;
    margin: auto;
  }
  .sectionCheckOut .orderDetail {
    width: 90%;
    margin: 30px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 1rem 0;
  }
  .sectionCheckOut .payment-container {
    width: 100%;
    height: 220px;
    margin: 0.5rem auto !important;
  }
}
/*# sourceMappingURL=CheckOutContent.css.map */