$primaryColor: #242a3a;
$secColor: #96daf0;
//common
.font-size-14 {
  font-size: 14px;
}

//
.categories-container {
  width: 100%;
  height: 6.5%;
  border-bottom: 1px solid #e8e8e8;
  .itemImg {
    width: 145px;
    height: 100%;
  }
}

.itemImg img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: auto;
}

.qtyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #ababab;
}

.minusBtn {
  margin-left: 20px;
  border-right: none;
}

.plus {
  border-left: none;
}
.counter {
  text-align: center;
  height: 22px;
  width: 50px;
  border: 1px solid #ccc;
  color: #ababab;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.deleteBtn {
  position: relative;

  width: 16px;
  height: 16px;

  box-sizing: content-box;
  cursor: pointer;

  .slash {
    position: absolute;
    width: 23px;
    height: 1px;
    transform-origin: left;
    background-color: #ababab;
    left: 0;
    pointer-events: none;
  }

  .leftLine {
    top: -1px;
    transform: rotate(45deg);
  }

  .rightLine {
    bottom: -1px;
    transform: rotate(-45deg);
  }
}

.orderDetail {
  color: #242a3a;
  label {
    margin: 0;
    width: 100%;
    padding-left: 5px;
  }
  input {
    margin-top: 3px;
  }
}

.payment-container {
  padding: 0.5rem 1rem 2rem 1rem;
  background-color: #eaeaea;
  input {
    width: 100%;
  }
  label {
    width: 100%;
    text-align: left;
    margin: 8px 0;
  }
  .invalid-date {
    width: 45%;
    margin-right: 10px;
  }
  .security-code {
    width: 45%;
    margin-left: auto;
  }
}

.checkout-btn {
  width: 100%;
  button {
    margin-top: 1rem !important;
    width: 180px;
    height: 35px;
    background-color: #242a3a;
    color: #fff;
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .categories-outer-container {
    width: 100%;
  }
  .orderDetail {
    display: flex;
    border-top: 1px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 1rem 0;
    .time-method {
      margin-left: 25px !important;
      margin-top: 0.5rem !important;
    }
  }
  .payment-container {
    margin: 0.5rem 0rem !important;
  }
}
