@charset "UTF-8";
.planet-section {
  background-image: url("./images/bg-map.jpg");
  background-size: cover;
  margin: 300px 0 0 0;
  /* 國家標籤 */
}

.planet-section .my-container {
  max-width: 1120px;
  padding: 0;
}

.planet-section .planet {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  /* max-width: 640px;
        min-height: 640px; */
}

.planet-section .mask {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 640px;
  background-color: white;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.planet-section .wrapper-1120 {
  /* max-width: 1140px; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.planet-section .world-left {
  position: relative;
  width: 640px;
  margin-right: 0;
}

.planet-section .world-right {
  position: relative;
  max-width: 480px;
  height: 640px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0px;
  margin-top: 100px;
}

.planet-section .right-item {
  max-width: 480px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
  opacity: 0;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.planet-section .right-item p {
  color: #74767d;
}

.planet-section .right-area {
  min-width: 100%;
}

.planet-section .country {
  display: block;
  position: absolute;
  z-index: 10;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  opacity: 0;
}

.planet-section .country:hover {
  opacity: 1;
}

.planet-section .russia {
  display: block;
  top: 5.5%;
  right: 5.7%;
  width: 297px;
  height: 426px;
  z-index: 5;
}

.planet-section .alaska {
  display: block;
  top: 3.7%;
  left: 33.3%;
  width: 90px;
  height: 85px;
  z-index: 11;
}

.planet-section .canada {
  display: block;
  top: 11.5%;
  left: 4.1%;
  width: 262px;
  height: 322px;
  z-index: 10;
}

.planet-section .finland {
  display: block;
  top: 52.5%;
  left: 62.2%;
  width: 41px;
  height: 75px;
  z-index: 99;
}

.planet-section .greenland {
  display: block;
  top: 35.5%;
  left: 27%;
  width: 155px;
  height: 147px;
  z-index: 11;
}

.planet-section .iceland {
  display: block;
  left: 40.3%;
  bottom: 39%;
  width: 36px;
  height: 29px;
  z-index: 11;
}

.planet-section .norway {
  display: block;
  left: 54.9%;
  bottom: 31.5%;
  width: 83px;
  height: 118px;
  z-index: 11;
}

.planet-section .spitzberg {
  display: block;
  left: 54.9%;
  bottom: 52%;
  width: 25px;
  height: 41px;
  z-index: 11;
}

.planet-section .sweden {
  display: block;
  left: 58.3%;
  bottom: 28.8%;
  width: 38px;
  height: 110px;
  z-index: 11;
}

.planet-section .country-label {
  position: absolute;
  opacity: 1;
  padding: 0 8px;
  z-index: 18;
  border-radius: 2px;
  text-align: center;
}

.planet-section .country-name {
  text-decoration: none !important;
  color: black;
}

.planet-section .country-name:hover {
  color: black;
}

.planet-section .country-label::before {
  display: block;
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #fff;
  z-index: -1;
  opacity: .2;
  border-radius: 2px;
  /* pointer-events: none; */
}

.planet-section .country-progress {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  background-color: #fff;
  z-index: -2;
  border-radius: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  width: 0;
  pointer-events: none;
}

.planet-section .country-label:hover .country-progress {
  width: 100%;
}

.planet-section .russia-label {
  top: 50%;
  right: 10%;
}

.planet-section .alaska-label {
  top: 5%;
  left: 37%;
}

.planet-section .canada-label {
  top: 25%;
  left: 10%;
}

.planet-section .finland-label {
  bottom: 36%;
  right: 25%;
}

.planet-section .greenland-label {
  top: 45%;
  left: 41%;
}

.planet-section .iceland-label {
  bottom: 40%;
  left: 32%;
}

.planet-section .norway-label {
  bottom: 30%;
  right: 45%;
}

.planet-section .spitzberg-label {
  bottom: 55%;
  left: 59%;
}

.planet-section .sweden-label {
  bottom: 30%;
  right: 30%;
}

.planet-section .countryCardName {
  margin-top: 25px;
}

.planet-section .stars {
  margin: 25px 0;
}

.planet-section .stars img {
  height: 14px;
  margin-right: 4px;
}

.planet-section .stars span {
  font-weight: 500;
  margin-left: 20px;
}

.planet-section .expert {
  margin-top: 20px;
  border-radius: 50%;
}

.planet-section .expertImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.planet-section .expert img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.planet-section .expertName {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
}

.planet-section .company {
  margin-top: 10px;
  color: #96daf0;
  font-size: 14px;
}

@media screen and (min-width: 1120px) {
  .planet-section .right-area {
    min-width: 41.666667%;
  }
  .planet-section .world-right {
    margin-top: 0px;
    padding-left: 80px;
  }
  .planet-section .right-item {
    max-width: calc(100% - 80px);
  }
}
/*# sourceMappingURL=HomeEarth.css.map */