$primaryColor: #242a3a;
$secColor:#96daf0;


$contW: 960px;
$imgW: 350px;
$formW: $contW - $imgW;
$switchAT: 1.2s;
$inputW: 300px;
$btnW: 180px;
$btnH: 50px;


.cont{
  background-color: #fff;
  // overflow: hidden;
  position: relative;
  max-width: $contW;
  min-height: 550px;
  margin: 2rem auto;
  
    input,
    button {
      border: none;
      outline: none;
      background: none;
    }



    .logo {
        svg{
            height: 80px;
            width: 80px;

            g{
                fill: $primaryColor;
            }
        }
    }

    .signIn{
      overflow: hidden;
      position: relative;
      top: 0%;
      left: 0%;
      background-color: #fff;
      width: $formW;
      height: 550px;
      transition: transform 1.2s ease-in-out;
      padding: 0 15px 0 15px;
      z-index: 2;

      h2{
        color: $primaryColor;
      }

      .sign-in{
        transition:  .7s .2s ease-out, opacity .7s .2s ease-out;
      }

      .sign-up{
        position: absolute !important;
        top: 200%;
        width: 100%;
        height: 100%;
        // margin-bottom: 500px;
        // background-color: rgba(255, 255, 255, 0.801);
        transition: transform 1.2s ease-in-out, top 1.2s ease-in-out, opacity .3s ease-in-out;
      }
    }
    

    .mountainBg{
      position: absolute;
      right: 0;
      top: 0;
      width: $contW;
      height: 100%;
      background-image: url("./img/photo-1501696088263-5696c92364bf.png");
      background-size: cover;
      transition: transform $switchAT ease-in-out, opacity .8s ease-in-out;
      z-index: -1;
    }


    .img{
      height: 550px;
      padding-top: 80px;
      position: relative;
      z-index: 99;


      .inner{
        width: 350px;
        height: 80px;
        overflow: hidden;
        margin: 0 auto 210px auto;
      }
    }

    
    .registered{
      overflow: hidden;
      z-index: 2;
      position: absolute;
      left: 610px;
      top: 0;
      width: $imgW;
      height: 100%;
      transition: transform $switchAT ease-in-out;




        &:after{
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          pointer-events: none;
          z-index: -1;
        }

        // .sub-cont{
        //   // pointer-events: none;
        // }

        .__text {
          // z-index: 2;
          // // position: absolute;
          // // left: 65px;
          // // bottom: 180px;
          // width: $btnW;
          // padding: 0 20px;
          // text-align: center;
          // color: #fff;
          transition: all $switchAT ease-in-out;
          // margin: 0 auto;

          
  
          h2 {
            margin-bottom: 20px;
            font-weight: normal;
            text-align: center;
            z-index: 2;
          }
      
          p {
            color: #fff;
            font-size: 1rem;
            line-height: 1.5;
            text-align: center;
            z-index: 2;
            margin-bottom: 30px;
          }     
        }

        // .m--in{
        //   // position: absolute;
        //   // right: 610px;
        // }

        // .m--up{
        //   // position: absolute;
          
        // }


        .__btn {
          overflow: hidden;
          // z-index: 99;
          position: relative;
          width: $btnW;
          height: $btnH;
          margin: 50px auto 0px auto;
          background: transparent;
          color: #fff;
          font-size: 15px;
          cursor: pointer;
          transition: opacity .5s ease-in-out;

      
          &:after {
            content: "";
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 0;
          }
      
          a {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #fff;
            transition: transform $switchAT;
          }


          .m--in {
            transform: translateY($btnH * -2);
              // transform: translateY(0);
          }
    
          // .m--up {
          //     // transform: translateY($btnH * 2);
              
          // }
      }
  } 




  button {
    display: block;
    margin: 0 auto;
    width: $btnW;
    height: $btnH;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }

  

  .submit:hover {
    background-color: #96daf0;
    border: 2px solid #96daf0;
    color: #fff;
    transition: 0.5s;
  }


  h2 {
    color: #fff;
    position: relative;
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 300;
  }

  .form h2::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,10px);
    width: 100px;
    height: 2px;
    background-color: #96daf0;
  }

  label {
    display: block;
    width: $inputW;
    margin: 25px auto 0;
    text-align: center;

    span {
      font-size: 12px;
      color: #cfcfcf;
    }
  }

  input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  input::placeholder {
    color: #cacaca;
    font-size: 14px;
  }

  input:focus {
    border-bottom: 1px solid #96daf0;
    transition: 0.8s;
  }

.forgot-pass {
  display: block;
  margin-top: 27px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
  transition: .3s ;

  &:hover{
    color: $secColor;
  }
}

  .submit {
    margin: 65px auto 40px auto;
    background: #fff;
    border: 2px solid #cacaca;
    color: #2a2a3a;
    font-weight: 200;
  }


  .register {
    margin-top: 50px !important;
  }

}


@media screen and (max-width: 981px){


  .loginRow{
    background-image: url("./img/photo-1501696088263-5696c92364bf.png");
    background-size: cover;
  }

  .signIn{
    width: 100% !important;
    z-index: 999 !important
  }

  .registered{
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
    z-index: -4;

    .mountainBg{
      z-index: -3;
    }

    .sub-cont{
      z-index: -2;
    }

    .img{
      z-index: 0;
    }
  }


}

@media screen and (max-width: 768px){

    .signIn{
      width: 100% !important;
    }
    
}