.leftMenu{
	width: 325px;
	height: 867px;
	background: #F8F8F8;
	margin:100px;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	padding-top:50px;
}
.searchBox{
	width: 303px;
	height: 45px;
	display:flex;
	justify-content: center;
	input{
		width: 230px;
		border:1px solid #EAEAEA;
		text-align: center;
	}
	input:focus{
		outline:none;
		border:1px solid #96DAF0;
	}
	.searchImg{
		background: #fff;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		border:1px solid #EAEAEA;
		cursor: pointer;
	}

}
.buttonTitle{
	display: flex;
	justify-content:flex-start !important;
	margin-left: -150px;
	img{
		width: 20px;
		color:#242A3A;
		margin:10px;
	}
	p{
		margin-top:20px;
		color:#242A3A;
	}
}



.dropdown{
	.btn{
		width:245px !important;
		background: #fff !important;
		color:#74767d;
		border:1px solid #EAEAEA;
		height: 50px !important;
		
		// text-align: start;
	}
	.btn:hover{
		color:#242A3A;
		border:1px solid #96DAF0;	
	}
	
}
.dropdown-menu{
	height: 200px !important;
	width: 245px !important;
	overflow: scroll;
}
.dropdown-item{
	height:50px !important;
	line-height: 50px;
	border-bottom: 1px solid #EAEAEA !important;
}
.MuiSlider-root{
	color:#96DAF0 !important;
}
.PrivateValueLabel-label-56{
	color:#242A3A !important;
}
