$primaryColor: #242A3A;
$secColor: #96DAF0;

.cartBanner{
    height: 100vh;

    .cartBannerRow{
        width: 100%;
        height: 100%;
        margin: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:  #242a3a;
        z-index: 10;
        animation: begin .5s cubic-bezier(.09,.37,.74,1) forwards;
    }

    h1{
        content: '購物車是空的喔~';
        // display: flex;
        // justify-content: center;
        // align-items: center;
        color: #fff;
        font-size: 50px;
        line-height: 60px;
        font-weight: 700;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 15;
        // border: 1px solid red;
        opacity: 0;
        animation: upFadeIn .8s .5s cubic-bezier(.09,.37,.74,1) forwards;
    }


    @keyframes upFadeIn {
        from{
            top: 80%;
            opacity: 0;
        }
        to{
            top: 50%;
            opacity: 1;
        }
    }

    @keyframes begin {
        from{
            
            opacity: 1;
        }
        to{
            
            opacity: .6;
        }
    }
    
}


.cartSection{
    padding-top: 180px;

    .userCard{
        position: sticky;
        top: 124px;
        padding: 20px;
        border: 1px solid #eaeaea;
        p{
            text-align: center;
            margin: 20px auto 0;
            
        }

        .toList{
            position: relative;
            margin: 20px auto 0;
            display: block;
            width: 200px;
            height: 44px;
            color: $primaryColor;
            background-color: $secColor;
            text-align: center;
            text-decoration: none;
            padding: 10px 0;
            font-size: 1rem;
            overflow: hidden;

            &:hover .mask{
                top: 0;
            }

            &:hover .font{
                color: #fff ;
            }

            .mask{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $primaryColor;
                top: 100%;
                left: 0;
                z-index: 1;
                pointer-events: none;
                transition: .3s cubic-bezier(.17,.67,.38,.99);
            }

            .font{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                pointer-events: none;
                transition: .3s cubic-bezier(.17,.67,.38,.99);
            }
        }

        .checkOut{
            margin: 30px auto 20px;
            display: block;
            width: 200px;
            height: 44px;
            color: #fff;
            background-color: $primaryColor;
            text-align: center;
            text-decoration: none;
            padding: 10px 0;
            font-size: 1rem;
            border-radius: 0;
            border: none;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            &:hover .mask{
                top: 0;
            }

            &:hover .font{
                color: $primaryColor ;
            }

            .mask{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $secColor;
                top: 100%;
                left: 0;
                z-index: 1;
                pointer-events: none;
                transition: .3s cubic-bezier(.17,.67,.38,.99);
            }

            .font{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                pointer-events: none;
                transition: .3s cubic-bezier(.17,.67,.38,.99);
            }
        }
    }


    .cartItem{
        display: flex !important;
        align-items: center;
        flex-wrap: nowrap;
        flex-grow: 0;
        margin: 15px 0 0 0 0 !important;
        border-bottom: 1px solid #eaeaea;
        // transform: translateX(-100vw);
        // animation: drop 1s  forwards;
        // opacity: 0;

       
        .itemImg{
            width: 156px;
            height: 156px;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .tripImg{
            width: 156px;
            height: 156px;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    
        .card-body{
            display: flex;
            width: 100%;
            padding: 0px 0 0 20px;
            
            h6{
                width: 100%;
                color: $secColor;
                display: flex;
                align-items: center;

    
                .deleteBtn{
                    // position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: auto;
                    width: 16px;
                    height: 16px;
                    border: 1px solid #ABABAB;
                    box-sizing: content-box;
                    cursor: pointer;
    
                    img{
                        width: 100%;
                        height: 100%;
                        // object-fit: cover;
                        pointer-events: none;
                    }
                }
            }
    
            .title{
                font-size: 1.2rem;
                font-weight: bold;
            }
    
            .size{
                margin-top: 10px !important;
                // margin-bottom:20px !important;
            }
    
            .quantity{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin-top: 20px;
                .counter{
                    text-align: center !important;
                    height: 22px;
                    width: 50px;
                    border: 1px solid #ccc;
                    color: #ABABAB;
                    font-weight: bold;
                }
        
                .qtyBtn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 22px;
                    height: 22px;
                    border: 1px solid #ccc;
                    cursor: pointer;
                    color: #ABABAB;
    
                    span{
                        font-size: 14px;
                        color: #ABABAB;
                        pointer-events: none;
                    }
                }
        
                .minusBtn{
                    margin-left: 20px;
                    border-right: none;
                }
    
                .plus{
                    border-left: none;
                }
                .x{
                    margin: 0 20px 0 20px;
                }

                .price{
                    color: $primaryColor;
                    width: 20%;
                    // margin: 0 0 0 50%;
                }

                .tripPrice{
                    color: $primaryColor;
                    width: 20%;
                    // margin: 0 0 0 50%;
                }

                h5, h6{
                    margin: 0;
                }
            }

                
            
        }
    }

    @keyframes drop {
        from{
            transform: translateX(-100vw);
            opacity: 0;
        }

        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
}