
$primaryColor: #242A3A;
$secColor: #96DAF0;

.ProductCarousel{
    padding: 130px 0 0 0;

    .carouselsRow{
        padding-bottom: 150px;
    }


    .thumbCarousel{
        margin-top: 20px;
        width: 500px;
        height: 100px !important;
        .customArrow{
            height: 100px;
            cursor: pointer;
            width: 20px;
            background-color: #eaeaea;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: .5;
            transition: .3s;

            img{
                width: 20px;
                height: 20px;
            }

            &:hover{
                opacity: 1;
            }
        }
        .prevArrow {
            position: absolute;
            bottom: 0%;
            left: 0%;
            // background-color: rgb(194, 27, 27);
            transform: translateX(-100%);
            z-index: 10;
        }
        .nextArrow {
            // background-color: rgb(27, 38, 194);
            position: absolute;
            top: 0%;
            right: 0%;
            transform: translateX(100%);
        }
        .slick-list{
            height: 375px !important;
            .slick-track{
                height: 375px;
                .slick-slide{
                    height: 100px;

                    div{
                        height: 100%;

                        .pic{
                            background-color: rgb(78, 78, 78);
                            color: #fff;
                            text-align: center;
                            
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }

        .slick-prev{
            background-color: #ccc;
            opacity: .5;
            position: relative;
            bottom: 0%;
            left: 0%;
            width: 100%;
            transform: translate(0, 0);
        }

        .slick-prev::before{
            content: '<';
            color: #000;
            width: 20px;
            height: 20px;
            font-size: 20px;
            font-weight: 800;
        }

        .slick-next{
            background-color: #ccc;
            opacity: .5;
            position: relative;
            top: 0%;
            left: 0%;
            width: 100%;
            transform: translate(0, 0);
        }

        .slick-next::before{
            content: '>';
            color: #000;
            width: 20px;
            height: 20px;
            font-size: 20px;
            font-weight: 800;
        }


        
    }
    
    .mainCarousel{
        width: 500px;
        height: 375px !important;
        .slick-list{
            height: 375px !important;

            .slick-track{
                height: 375px !important;

                .slick-slide{
                    height: 375px !important;
    
                    // div{
                    //     height: 100%;
                        // border: 1px solid red;
                        .pic2{
                            height: 375px !important;
                            // text-align: center;
                            // height: 100%;
                
                            img{
                                width: 100% ;
                                // height: 100% !important;
                                object-fit: cover !important;
                                // cursor: grab;

                                &:active{
                                    cursor: grabbing !important;
                                }
                            }

                            div{
                                // width: 500px !important;
                                height: 375px !important;
                                // overflow: hidden !important;
                                div{
                                    // width: 500px !important;
                                    height: 375px !important;
                                    // overflow: hidden !important;
                                    margin: 0 !important;
                                    padding: 0;
                                    top: 0 !important;
                                    left: 0 !important;
                                    z-index: 10;

                                        img{
                                            // height: 750px !important;
                                            pointer-events: fill !important;
                                            &:active{
                                                cursor: grabbing !important;
                                            }
                                        }
                                }
                            }
                        }
                        
                    // }
                }
            }
        }

        .slick-arrow{
            display: none !important;
        }

        
    }

    .detailCard{
        h4{
            text-align: center;
        }

        h2{
            color: $primaryColor;
            text-align: center;
            margin: 0 0 20px 0;
        }

        h5{
            text-align: center;
            margin: 0 0 20px 0;
        }

        .wishBtn{
            margin: 0 auto 20px;
            color: #fff;
            width: 220px;
            background-color: $secColor;
            text-align: center;
            line-height: 44px;
            border: none;
            // line-height: 44px;
            cursor: pointer;
            
            &:focus{
                background-color: $secColor;
                border: none;
                outline: none;
                box-shadow: none;
            }

            &:active{
                background-color: $primaryColor;
            }
        }

        .addToCartBtn{
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 20px;
            color: #fff;
            width: 220px;
            background-color: $primaryColor;
            text-align: center;
            line-height: 44px;
            border: none;
            // line-height: 44px;
            cursor: pointer;
        }

        p{
            text-align: center;
            font-size: 1rem;
            margin-bottom: 10px;
        }

        div{
            h4{
                color: #707070;
                margin: 30px 0 20px 0;
            }

            .nav-tabs{
               a{
                    color: $primaryColor;
               } 

               a.active{
                color: $secColor;
                } 
            }

            .tab-content{
                height: 168px;
                overflow-y: auto;
            }

            .tab-pane.active{
                background-color: transparent;
                color: $primaryColor;

                p{
                    color: $primaryColor !important;
                }
            }
        }
        
    }

    .recommend{
        
        .cardFrame{
            // width: 25%;
            // padding: 20px;
            margin-bottom: 10px;
            .link{
                color: $primaryColor;
                text-decoration: none;
            }
            .product-card {
                cursor: pointer;
                transition: .3s;

                &:hover{
                    box-shadow: 0 0 30px rgba($color: #000000, $alpha: .1);
                }

                .photoFrame{
                    pointer-events: none;
                    padding: 15px;
                    height: 250px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
    
                .card-title{
                        text-align: center;
                }
            }
           
        }
        
    }


    // @media screen and (max-width: 1200px){
    //     .mainCarousel{
    //         width: 400px !important;
    //         height: 400px !important;    
    //     }
    // }
    
    @media screen and (max-width: 992px){
        // .thumbCarousel{
        //     display: none;
        // }
            .carouselsRow{
                display: flex;
                justify-content: center;
            }
    
            .detailCard{
                margin-top: 50px;
            }
    
    }
    
    @media screen and (max-width: 621px){
        .carouselsRow{
            display: flex;
            justify-content: center;
    
            .mainCarousel{
                .slick-arrow{
                    display: block !important;
                    background-color: #ccc;
                    opacity: 0;
                    transition: .5s;
                }
    
                .slick-arrow:hover{
                    opacity: .5;
                }
    
                .slick-arrow::before{
                    width: 20px;
                    height: 20px;
                    color: black;
                }
    
                // .slick-list{
                    
                //     width: 500px !important;
        
                //     .slick-track{
                //         width: 500px !important;
        
                //         .slick-slide{
                //             width: 500px !important;
            
                //             // div{
                //             //     height: 100%;
                //                 // border: 1px solid red;
                //                 .pic2{
                //                     width: 500px !important;
                //                     // text-align: center;
                //                     // height: 100%;
                        
                //                     img{
                //                         width: 100% ;
                //                         // height: 100% !important;
                //                         object-fit: cover !important;
                //                         // cursor: grab;
        
                //                         &:active{
                //                             cursor: grabbing !important;
                //                         }
                //                     }
        
                //                     div{
                //                         // width: 500px !important;
                //                         // height: 375px !important;
                //                         // overflow: hidden !important;
                //                         div{
                //                             // width: 500px !important;
                //                             // height: 375px !important;
                //                             // overflow: hidden !important;
                //                             margin: 0 !important;
                //                             padding: 0;
                //                             top: 0 !important;
                //                             left: 0 !important;
                //                             z-index: 10;
        
                //                                 img{
                //                                     // height: 750px !important;
                //                                     pointer-events: fill !important;
                //                                     &:active{
                //                                         cursor: grabbing !important;
                //                                     }
                //                                 }
                //                         }
                //                     }
                //                 }
                                
                //             // }
                //         }
                //     }
                // }
            }
        }

        .double-carousel{
            height: 375px !important;
        }
    
        .thumbCarousel{
            display: none;
        }
        
        .detailCard{
            padding: 0 20px 0;
            width: 90%;
            margin: auto;
        }

        .cardFrame{
            padding: 0 20px 0;
            margin-bottom: 20px !important;
            .product-card{
                margin: auto;
                width: 65%;

                &:hover{
                    box-shadow: rgba($color: #000000, $alpha: .6);
                }
            }
        }
        // .sideCarousel{
        //     margin: 0 !important;
        //    height: 100px !important;
        // }
    }
}



