.ProductCarousel {
  padding: 180px 0 0 0;
}

.ProductCarousel .carouselsRow {
  padding-bottom: 150px;
}

.ProductCarousel .thumbCarousel {
  margin-top: 20px;
  width: 100px;
  height: 460px !important;
}

.ProductCarousel .thumbCarousel .customArrow {
  height: 20px;
  cursor: pointer;
  width: 100px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProductCarousel .thumbCarousel .customArrow img {
  width: 20px;
  height: 20px;
}

.ProductCarousel .thumbCarousel .prevArrow {
  position: absolute;
  left: 0%;
  bottom: 0%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.ProductCarousel .thumbCarousel .nextArrow {
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.ProductCarousel .thumbCarousel .slick-list {
  height: 460px !important;
}

.ProductCarousel .thumbCarousel .slick-list .slick-track {
  height: 460px;
}

.ProductCarousel .thumbCarousel .slick-list .slick-track .slick-slide {
  height: 100px;
}

.ProductCarousel .thumbCarousel .slick-list .slick-track .slick-slide div {
  height: 100%;
}

.ProductCarousel .thumbCarousel .slick-list .slick-track .slick-slide div .pic {
  background-color: #4e4e4e;
  color: #fff;
  text-align: center;
}

.ProductCarousel .thumbCarousel .slick-list .slick-track .slick-slide div .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ProductCarousel .thumbCarousel .slick-prev {
  background-color: #ccc;
  opacity: .5;
  position: relative;
  bottom: 0%;
  left: 0%;
  width: 100%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.ProductCarousel .thumbCarousel .slick-prev::before {
  content: '<';
  color: #000;
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: 800;
}

.ProductCarousel .thumbCarousel .slick-next {
  background-color: #ccc;
  opacity: .5;
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.ProductCarousel .thumbCarousel .slick-next::before {
  content: '>';
  color: #000;
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: 800;
}

.ProductCarousel .mainCarousel {
  width: 500px;
  height: 500px;
}

.ProductCarousel .mainCarousel .slick-list {
  height: 100%;
}

.ProductCarousel .mainCarousel .slick-list .slick-track {
  height: 100%;
}

.ProductCarousel .mainCarousel .slick-list .slick-track .slick-slide {
  height: 100%;
}

.ProductCarousel .mainCarousel .slick-list .slick-track .slick-slide div {
  height: 100%;
}

.ProductCarousel .mainCarousel .slick-list .slick-track .slick-slide div .pic2 {
  text-align: center;
  height: 100%;
}

.ProductCarousel .mainCarousel .slick-list .slick-track .slick-slide div .pic2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: -webkit-grab;
  cursor: grab;
}

.ProductCarousel .mainCarousel .slick-list .slick-track .slick-slide div .pic2 img:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.ProductCarousel .mainCarousel .slick-arrow {
  display: none !important;
}

.ProductCarousel .detailCard h4 {
  text-align: center;
}

.ProductCarousel .detailCard h2 {
  color: #242A3A;
  text-align: center;
  margin: 0 0 20px 0;
}

.ProductCarousel .detailCard h5 {
  text-align: center;
  margin: 0 0 20px 0;
}

.ProductCarousel .detailCard .wishBtn {
  margin: 0 auto 20px;
  color: #fff;
  width: 220px;
  background-color: #96DAF0;
  text-align: center;
  line-height: 44px;
  border: none;
  cursor: pointer;
}

.ProductCarousel .detailCard .wishBtn:focus {
  background-color: #96DAF0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ProductCarousel .detailCard .wishBtn:active {
  background-color: #242A3A;
}

.ProductCarousel .detailCard .addToCartBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 20px;
  color: #fff;
  width: 220px;
  background-color: #242A3A;
  text-align: center;
  line-height: 44px;
  border: none;
  cursor: pointer;
}

.ProductCarousel .detailCard p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

.ProductCarousel .detailCard div h4 {
  color: #707070;
  margin: 30px 0 20px 0;
}

.ProductCarousel .detailCard div .nav-tabs a {
  color: #242A3A;
}

.ProductCarousel .detailCard div .nav-tabs a.active {
  color: #96DAF0;
}

.ProductCarousel .detailCard div .tab-content {
  height: 168px;
  overflow-y: auto;
}

.ProductCarousel .detailCard div .tab-pane.active {
  background-color: transparent;
  color: #242A3A;
}

.ProductCarousel .detailCard div .tab-pane.active p {
  color: #242A3A !important;
}

.ProductCarousel .recommend .cardFrame {
  margin-bottom: 10px;
}

.ProductCarousel .recommend .cardFrame .photoFrame {
  padding: 15px;
  height: 250px;
}

.ProductCarousel .recommend .cardFrame .photoFrame img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ProductCarousel .recommend .cardFrame .card-title {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .ProductCarousel .mainCarousel {
    width: 400px !important;
    height: 400px !important;
  }
}

@media screen and (max-width: 992px) {
  .ProductCarousel .carouselsRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ProductCarousel .detailCard {
    margin-top: 50px;
  }
}

@media screen and (max-width: 621px) {
  .ProductCarousel .carouselsRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ProductCarousel .carouselsRow .mainCarousel .slick-arrow {
    display: block !important;
    background-color: #ccc;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .ProductCarousel .carouselsRow .mainCarousel .slick-arrow:hover {
    opacity: .5;
  }
  .ProductCarousel .carouselsRow .mainCarousel .slick-arrow::before {
    width: 20px;
    height: 20px;
    color: black;
  }
  .ProductCarousel .thumbCarousel {
    display: none;
  }
  .ProductCarousel .sideCarousel {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=ProductCarousel.css.map */