
$primaryColor: #242a3a;
$secColor:#96daf0;

.TripFilterSection1{

    // common
      .row-no-margin {
        margin-left: 0px !important;
        margin-right: 0px !important;
      }
      .margin-auto {
        margin: auto;
      }
      .d-flex-1 {
        flex: 1;
      }
      .d-flex-2 {
        flex: 2;
      }
    
      .main-filter-container {
        position: relative;
        max-width: 800px;
        margin: auto;
        box-shadow: 0 8px 8px #8888883f;
        transform: translate(0, 50%) !important;
        z-index: 900;
        // position: absolute;
        // right: 320px;
        // bottom: 42px;
      }
    
      // .searchbox-row {
      //   width: 800px;
      // }
    
      .filter-icon-container {
        border-right: 1px solid #d3d4d7;
        margin: auto;
        height: 75px;
      }
    
      .filter-icon {
        color: #242a3a !important;
        background-color: #fff !important;
        border-color: transparent !important;
        border-radius: 0 !important;
        width: 100%;
        height: 100%;
        padding: 0 !important;
        font-weight: 250 !important;
      }
    
      .filter-icon-title {
        vertical-align: middle;
        font-size: 14px;
        margin: 0 10px;
        color: #242a3a;
      }
    
      .toggle-menu {
        width: 100%;
        height: 200px;
        border-radius: 0 !important;
        overflow: scroll;
      }
    
      .toggle-item {
        margin: auto;
        border-bottom: 1px solid #242a3a2e !important;
        font-size: 14px;
        padding: 1rem;
        color: #242a3a;
      }
    
      .main-filter-btn {
        color: #fff !important;
        background-color: #030b24 !important;
        border-color: transparent !important;
        border-radius: 0 !important;
        height: 75px;
        width: 120px;
      }
    
      .search-btn {
        cursor: pointer;
        height: 75px;
        background-color: #fff;
      }
    
      // search-clicked
      .searchbox-input-container {
        flex: 6 !important;
        border-right: 1px solid #d3d4d7;
        background-color: #fff;
      }
    
      .searchbox-input {
        height: 70%;
        border-radius: 0 !important;
        margin: 10px 15px;
        background-color: #f3f3f3;
        border: none;
      }
    
      .before-rwd {
        display: none;
      }
    
      .main-filter-container-rwd {
        position: relative;
      //   transform: translate(0, -50%);
        z-index: 900;
        max-width: 250px;
        height: 75px;
        margin: 100px auto 0px auto;
        // border: 1px solid #d3d4d7;
        // margin-top: 10px;
        cursor: pointer;
        box-shadow: 0 8px 8px #8888883f;
        .icon {
          flex: 1;
          border-right: 1px solid #d3d4d7;
          background-color: #fff;
        }
        .search {
          position: relative;
          flex: 3;
          background-color: #030b24;
          color: #fff;
          display: flex;
          p {
            margin: auto;
          }
    
          .anotherSearch{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            z-index: 50;
          }
        }
      }
    
      // hover
      .filter-icon:hover {
        background-color: #242a3a !important;
        color: #fff !important;
        transition: 0.5s;
      }
    
      .filter-icon:hover .filter-icon-title {
        color: #fff;
        transition: 0.5s;
      }
    
      .filter-icon:hover .location,
      .filter-icon:hover .trac,
      .filter-icon:hover .binoculars {
        fill: #fff;
        color: #fff !important;
      }
    
      .search-btn:hover .search {
        fill: #fff;
        transition: 0.5s;
      }
    
      .search-btn:hover {
        background-color: #242a3a;
        transition: 0.5s;
      }
    
      .main-filter-btn:hover {
        background-color: #232323 !important;
        transition: 0.5s;
      }
    
      //右邊menu
      .trip-filter-menu{
        // border: 1px solid red;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 100%;
        transition: .5s;
        z-index: 999;
    
        .fakeNav{
          background-color: $primaryColor;
        }
    
        .TripFilterToggler{
          height: 80px;
          width: 80px;
          background-color: $secColor;
          cursor: pointer;
    
          .toggle-inner{
            position: relative;
            width: 26px;
            height: 26px;
            // border: 1px solid rgba(0, 0, 0, 0.397);
    
            .white-line{
              width: 32px;
              height: 4px;
              position: absolute;
              left: 0;
              
              transform-origin: left;
              background-color: #fff;
            }
    
            .up-line{
              transform: translate(2px, 0px) rotate(45deg);
              top: 0;
              
            }
    
            .down-line{
              bottom: 0;
              transform: translate(2px, 0px) rotate(-45deg);
            }
          }
        }
    
        .list{
          
          .card{
            border-radius: 0%;
          }
          
          .card-header{
            display: flex;
            align-items: center;
            height: 80px;
            background-color: #fff;
            border-bottom: 1px solid #eaeaea;
            cursor: pointer;
            transition: .3s;
    
            &:hover{
              background-color:  #eaeaea;;
            }
    
            .svgFrame{
              height: 30px;
              width: 30px;
              margin: 0 15px 0 0;
    
              img{
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
    
    
            }
    
            #calender, #ring, #duration{
              width: 26px;
              height: 26px;
            }
    
            p{
              font-size: 1.5rem;
              margin: 0;
              line-height: 80px;
				}
				h6{
					color:#96daf0;
					margin:20px;
				}
          }
    
          #days-of-stay{
            border-bottom: 1px solid #ccc;
          }
    
          .card-body{
            padding: 0;
    
            .makeStyles-root-1{
              margin: 100px auto 0px;
    
              .MuiSlider-root{
                color:#96DAF0 !important;
              }
              .PrivateValueLabel-label-56{
                color:#242A3A !important;
              }
            }
    
            .searchDaysBtn{
              display: block;
              width: 150px;
              text-align: center;
              text-decoration: none;
              margin: 20px auto;
              color: $primaryColor;
              border: 1px solid $primaryColor;
              padding: 15px 25px;
              transition: .3s;
    
              &:hover{
                color: #fff;
                background-color: $primaryColor;
              }
            }
    
            ul{
              padding: 0;
              list-style: none;
    
              li{
                padding: 20px 20px 20px 40px;
                font-size: 1.5rem;
                cursor: pointer;
    
                &:hover{
                  background-color: #eaeaea;
                  transition: .3s;
                }
              }
            }
          }
        }
    
    
      }
    
    }
	 
	 
	 .selectCom{
		 width: 20%;
		 margin:auto;
		 height:50px;
		 border:1px solid #243a2a;
		 font-size: 24px;
		//  text-align: center;
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 p{
			 margin-top:15px;
		 }
	 }
	 .selectCom:hover{
		 border:1px solid #96daf0;
		 background: #96daf0;
		 p{
			 color:#fff;
		 }
	 }


    //RWD
    @media only screen and (max-width: 768px) {
      .TripFilterSection1{
        
        .main-filter-container {
          display: none;
        }
        .before-rwd {
          display: block !important;
        }
      }
     
    }
    