.TripDes2Box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.TripDes2BtnBox {
  width: 35%;
  height: 210px;
  background: #eaeaea;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.TripDes2Btn {
  width: 100%;
  height: 70px;
}

.TripDes2Inside {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dcdcdc;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.TripDes2Inside .TripDes2InsideIcon {
  width: 14px;
  color: #242a3a;
  margin-right: 40px;
}

.TripDes2Inside p {
  color: #242a3a;
  margin-top: 15px;
}

.searchList {
  width: 100%;
  height: 0px;
  overflow: hidden;
  margin: auto;
  -webkit-transition: .6s;
  transition: .6s;
  background: #eaeaea;
}

.searchList li {
  color: #76747d;
  margin: 15px 0px 15px 50px;
}

.searchList li:hover {
  color: #242a3a;
}

.TripDes2Btn:hover {
  background: #96daf0;
}

.active {
  background: #242a3a;
  pointer-events: none;
}

.active p {
  color: #fff !important;
}

.active .TripDes2InsideIcon {
  fill: #fff !important;
  color: #fff !important;
}

.active .TripDes2Inside {
  border: none;
}

.active1 {
  color: #242a3a !important;
  font-weight: 800;
}

.TripImportantDesBox {
  width: 55%;
}

.TripImportantDesBox ul {
  margin-top: 30px;
}

.TripImportantDesBox li {
  color: #76747d;
  margin: 10px 0;
  list-style: none;
}

.TripImportantDesBox li:before {
  content: "\2022";
  color: #96DAF0;
  font-size: 1rem;
  margin-left: -20px;
  margin-right: 20px;
}

.TripImportantDesBox h6 {
  margin-top: 50px;
  color: #242a3a;
}

.TripImportantDesBox h4 {
  color: #242a3a;
}

.budgetBox {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-left: 8px solid #242a3a;
}

.budgetBox p {
  margin: 15px 30px;
  color: #76747d;
}

.AllDayTitle span {
  color: #96DAF0;
  margin-top: 30px;
  display: block;
}

.everyday {
  margin-top: 50px;
}

.everyday p {
  color: #76747d;
}

.everyday span {
  color: #96DAF0;
}

.everyday .everydayTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.everyday .everydayTitle p {
  color: #242a3a;
  margin-top: 15px;
}

.everyday .everydayTitle img {
  width: 16px;
  margin-right: 10px;
}

.everydayLive {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.everydayLive p {
  color: #242a3a;
  margin-top: 15px;
}

.everydayLive img {
  width: 16px;
  margin: 0px 10px;
}

.everydayLive span {
  color: #96DAF0;
}

.TripDesDetailBox {
  margin-top: 30px;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.TripDesDetailBox span {
  color: #96DAF0;
  margin-top: 20px;
  display: block;
}

.TripDesDetailBox p {
  color: #76747d;
  margin: 30px 0;
}

@media (max-width: 768px) {
  .TripDes2Box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .TripDes2BtnBox {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
  }
  .TripImportantDesBox {
    width: 100%;
    margin-top: 150px;
  }
}
/*# sourceMappingURL=TripDes2.css.map */