// common
.text-align-center {
  text-align: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

//
.member-left-menu-fixed {
  position: fixed;
  width: 250px;
  // top: 300px;
  // margin-top: 300px;
}

.member-left-menu-container {
  // height: 500px !important;
  // width: 250px;
  // margin-top: 10px;
  background-color: #f8f8f8;
  padding: 10px;
  border: none;
  border-radius: 0;
}

.member-left-menu-1 {
  display: flex;
  height: 230px;
  border-bottom: 1px solid #000;
  background-color: red;
}

.avatar {
  width: 100px;
  height: 100px;
  //   border: 1px solid #000;
  border-radius: 50%;
  margin: auto;
}

.card-title-container span {
  font-size: 1.5rem;
}

.card-body-1 {
  padding-bottom: 1rem;
  border-bottom: 2px solid #eaeaea;
}

.card-body-1 a {
  text-decoration: none;
  font-size: 0.75rem;
}

.card-body-2 {
  padding: 1rem 0;
  border-bottom: 2px solid #eaeaea;
}

.card-body-2 a {
  text-decoration: none;
}

.card-body-3 {
  padding-top: 1rem;
}

.member-ul-container {
  border: none !important;
  background-color: transparent !important;
  padding: 0 0 1rem 0 !important;
}

.member-ul-container a {
  color: #2a2a3a;
  text-decoration: none;
}

.member-ul-container a:hover {
  color: #707070;
  fill: #707070;
}

.member-ul-container span {
  margin-left: 5px;
}

//RWD
@media screen and (max-width: 992px) {
  .member-left-menu-fixed {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .member-left-menu-fixed {
    position: static;
    width: 100%;
    // display:flex;
  }
}
