.noUse {
  height: 100vh;
  background: #000;
}
.footerBox {
  width: 100%;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding-bottom: 5%;
  .inBox {
    margin-top: 3.75rem;
    margin-bottom: 2rem;
  }
  img {
    width: 20px;
  }
  h5 {
    margin-bottom: 0;
    margin-left: 1.25rem;
  }
  li {
    font-size: 1rem;
    color: #242a3a;
    list-style: none;
    margin-top: 0.625rem;
  }
  li:hover {
    color: #96daf0;
    cursor: pointer;
  }
}
.footerBox2 {
  width: 100%;
  height: 15rem;
  margin: 0 !important;
  .subscribeTitle p {
    font-size: 1rem;
    color: #96daf0;
    margin-bottom: 0px;
  }

  .subscribeTitle h1 {
    color: #242a3a;
  }
}
.subscribeEmail {
  width: 40%;
  height: 80px;
  border: 15px solid #f2f2f2;
  padding-right: 0 !important;

  .emailIcon {
    height: 50px;
    width: 50px;
    border-right: 1px solid #f4f4f4;
  }
  img {
    color: #74767d;
    width: 20px;
  }

  input {
    width: 100%;
    font-size: 0.5rem;
    border: none;
  }
  input:focus {
    outline: none;
  }
  input:hover {
    cursor: pointer;
  }
  button {
    width: 20%;
    background: #242a3a;
    color: #fff;
  }
  button:hover {
    background: #96daf0;
    color: #242a3a;
  }
}

.footerBox3 {
  width: 100%;
  height: 6.25rem;
  background: #242a3a;
  flex-wrap: wrap;
  p {
    color: #fff;
    margin: 0px 10px;
  }
  p:hover {
    color: #96daf0;
    cursor: pointer;
  }
}
.mountainBox {
  height: 100vh;
  h1 {
    position: absolute;
    font-size: 12rem;
    font-weight: 800;
    color: #242a3a;
    transform: translate(-50%, -50%);
  }
  p {
    font-size: 2rem;
    letter-spacing: 1rem;
    color: #242a3a;
  }
  .mountain {
    transform: translate(-50%, -50%);
  }
  .mountainBg {
    width: 100%;
  }
  .cloud1 {
    width: 100%;
  }
  .cloud2 {
    width: 100%;
  }
  .cloud3 {
    width: 100%;
  }
  .cloud4 {
    width: 100%;
  }
}
.mountainBox2 {
  position: relative;
  display: none;
  .mountainBg {
    width: 100%;
    margin-top: 100px;
  }
  h1 {
    position: absolute;
    top: 25%;
    left: 27%;
    font-size: 150px;
    font-weight: 800;
    color: #242a3a;
    z-index: 1;
  }
  p {
    font-size: 30px;
    letter-spacing: 20px;
    color: #242a3a;
    position: absolute;
    top: 60%;
    left: 35%;
    z-index: 3;
  }
  .mountain {
    width: 40%;
    height: 250px;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 30%;
  }
  .cloud1 {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
  }
}
@media (max-width: 992px) {
  .mountainBox-outer-container {
    margin-top: 10rem;
  }
  .mountainBox {
    display: none;
  }
  .mountainBox2 {
    display: block;
  }
  .subscribeTitle {
    text-align: center;
  }
  .subscribeEmail {
    margin: 1rem auto 1.5rem auto;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .subscribeEmail {
    margin-top: -25px !important;
  }
  .subscribeTitle {
    text-align: center;
  }
  .footerBox3 div {
    justify-content: center !important;
  }
  .mountainBox2 {
    h1 {
      font-size: 100px;
    }
    p {
      font-size: 16px;
    }
    .mountain {
      width: 40%;
      height: 200px;
      left: 30%;
    }
  }
}
