$primaryColor: #242a3a;
$secColor: #96daf0;

.filter-home-container {
  // common
  .row-no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
    .btn:focus,
    .btn:active {
      outline: none !important;
      box-shadow: none !important;
    }
    .form-control:focus {
      box-shadow: none !important;
      border: 2px solid $secColor;
      transition: 0.5s;
    }
  }

  .dropdown-menu::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  .dropdown-item:active {
    background-color: #f3f3f3;
  }

  .margin-auto {
    margin: auto;
  }
  .d-flex-1 {
    flex: 1;
  }
  .d-flex-2 {
    flex: 2;
  }

  .home-filter-hide {
    display: none !important;
  }

  .home-filter-show {
    display: flex;
  }

  .main-filter-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 8px 8px #8888883f;
    transform: translate(0, -50%);
    z-index: 900;
  }

  .drop-down-container {
    flex: 6;
  }

  .filter-icon-container {
    border-right: 1px solid #d3d4d7;
    margin: auto;
    height: 75px;
  }

  .filter-icon {
    color: #242a3a !important;
    background-color: #fff !important;
    border-color: transparent !important;
    border-radius: 0 !important;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    font-weight: 250 !important;
  }

  .filter-icon-title {
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
    color: #242a3a;
  }

  .toggle-menu {
    width: 100%;
    height: 200px;
    border-radius: 0 !important;
    overflow: scroll;
  }

  .toggle-item {
    margin: auto;
    border-bottom: 1px solid #242a3a2e !important;
    font-size: 14px;
    padding: 1rem;
    color: #242a3a;
  }

  .main-filter-btn {
    color: #fff !important;
    background-color: #030b24 !important;
    border-color: transparent !important;
    border-radius: 0 !important;
    height: 75px;
    width: 120px;
  }

  .search-btn {
    cursor: pointer;
    height: 75px;
    background-color: #fff;
  }

  // search-clicked
  .searchbox-input-container {
    flex: 6 !important;
    border-right: 1px solid #d3d4d7;
    background-color: #fff;
  }

  .searchbox-input {
    height: 70%;
    border-radius: 0 !important;
    margin: 10px 15px;
    background-color: #f3f3f3;
    border: 2px solid transparent;
  }

  .before-rwd {
    display: none;
  }

  .main-filter-container-rwd {
    position: relative;
    transform: translate(0, -50%);
    z-index: 900;
    max-width: 250px;
    height: 75px;
    margin: auto;
    // border: 1px solid #d3d4d7;
    // margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 8px 8px #8888883f;
    .icon {
      flex: 1;
      border-right: 1px solid #d3d4d7;
      background-color: #fff;
    }
    .search {
      position: relative;
      flex: 3;
      background-color: #030b24;
      color: #fff;
      display: flex;
      p {
        margin: auto;
      }

      .anotherSearch {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: 50;
      }
    }
  }

  // hover
  .filter-icon:hover {
    background-color: #242a3a !important;
    color: #fff !important;
    transition: 0.5s;
  }

  .filter-icon:hover .filter-icon-title {
    color: #fff;
    transition: 0.5s;
  }

  .filter-icon:hover .location,
  .filter-icon:hover .trac,
  .filter-icon:hover .binoculars {
    fill: #fff;
    color: #fff !important;
  }

  .search-btn:hover .search {
    fill: #fff;
    transition: 0.5s;
  }

  .search-btn:hover {
    background-color: #242a3a;
    transition: 0.5s;
  }

  .main-filter-btn:hover {
    background-color: #232323 !important;
    transition: 0.5s;
  }

  .filter-menu {
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 100%;
    transition: 0.5s;
    z-index: 999;

    .fakeNav {
      background-color: $primaryColor;
    }

    .filterToggler {
      height: 80px;
      width: 80px;
      background-color: $secColor;
      cursor: pointer;

      .toggle-inner {
        position: relative;
        width: 26px;
        height: 26px;
        // border: 1px solid rgba(0, 0, 0, 0.397);

        .white-line {
          width: 32px;
          height: 4px;
          position: absolute;
          left: 0;

          transform-origin: left;
          background-color: #fff;
        }

        .up-line {
          transform: translate(2px, 0px) rotate(45deg);
          top: 0;
        }

        .down-line {
          bottom: 0;
          transform: translate(2px, 0px) rotate(-45deg);
        }
      }
    }

    .list {
      .FilterSearchBox {
        width: 30%;
        height: 70px;
        font-size: 1.5rem;
        border: 1px solid #242a3a;
        color: #242a3a;
        //  background: #242a3a;
        margin: auto;
        margin-top: 60px;
        text-align: center;
        line-height: 70px;
        //  box-shadow: 2px 2px 5px;
      }
      .FilterSearchBox:hover {
        color: #fff;
        background: #96daf0;
        border: none;
      }
      .displayNone {
        display: none;
      }
      .card {
        border-radius: 0%;
      }

      .card-header {
        display: flex;
        align-items: center;
        height: 80px;
        background-color: #fff;
        border-bottom: 1px solid #eaeaea;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #eaeaea;
        }

        .svgFrame {
          height: 30px;
          width: 30px;
          margin: 0 15px 0 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        #calender,
        #ring,
        #duration {
          width: 26px;
          height: 26px;
        }

        p {
          font-size: 1.5rem;
          margin: 0;
          line-height: 80px;
        }
        h6 {
          color: #96daf0;
          margin: 20px;
        }
      }

      #days-of-stay {
        border-bottom: 1px solid #ccc;
      }

      .card-body {
        padding: 0;

        .makeStyles-root-1 {
          margin: 100px auto 0px;

          .MuiSlider-root {
            color: #96daf0 !important;
          }
          .PrivateValueLabel-label-56 {
            color: #242a3a !important;
          }
        }

        .searchDaysBtn {
          display: block;
          width: 150px;
          text-align: center;
          text-decoration: none;
          margin: 20px auto;
          color: $primaryColor;
          border: 1px solid $primaryColor;
          padding: 15px 25px;
          transition: 0.3s;

          &:hover {
            color: #fff;
            background-color: $primaryColor;
          }
        }

        ul {
          padding: 0;
          list-style: none;

          li {
            padding: 20px 20px 20px 40px;
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
              background-color: #eaeaea;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}

//RWD
@media only screen and (max-width: 768px) {
  .filter-home-container {
    .main-filter-container {
      display: none;
    }
    .before-rwd {
      display: block;
    }
  }
}
