
$primaryColor: #242a3a;
$secColor: #96daf0; 
$borderColor: #74767d;

.SectionReviewCarousel{
    position: relative;
    padding: 0;
    height: 100vh;
    

    .subtitle{
        color: $secColor;
        text-align: center;
        letter-spacing: 2px;
    }

    .title{
        color: $primaryColor;
        text-align: center;
        font-weight: 700;
        letter-spacing: 3px;
    }

    .ReviewCarouselBox{
        position: relative;
        min-height: 570px;
        padding: 85px 0 0 0;

        .BlueBlock{
            position: absolute;
            width: 400px;
            height: 570px;
            background-color: $secColor;
            z-index: -1;
            top: 0;
            left: 0;
        }

        .BigSlide{
            margin: 0 auto 0 auto;
            max-width: 70%;
            height:400px ;

            .slick-arrow{
                display: none !important;
            }

            .slick-slider{
                // height: 540px !important;
                height:400px ;
            }
            .TripDesCarouselSmallBox{
                position: relative;
                height:400px ;

                img{
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                }

                a{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000522, $alpha: .5);
                    z-index: 2;
                    color: #fff;
                    text-decoration: none;

                  

                    .container-fluid{
                        height: 400px ;
                        height: 100%;

                        .row{
                            height: 400px ;
                            padding: 5% 0 10% 0;

                            .countryFrame{
                                height: 100%;
                                padding: 0 80px;

        
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    transition: .8s;
                                    pointer-events: none;
                                }
                            }

                            .commentCard{
                                padding: 0 80px 0 0;
                                pointer-events: none;
                                .stars{
                                    margin-bottom: 5px;
                                    .star{
                                        height: 12px;
                                        width: 12px;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                }

                                .customerInformation{
                                    font-weight: 700;
                                }

                                h6{
                                    margin-bottom: 30px;
                                    color: $secColor;
                                }
                            }
                        }
                    }
                }
            }
            .slick-list{
                // height:540px !important;
                height:400px ;
            }

            .slick-slide{
                width: 960px;
                height: 400px ;
            }
        }


        .SmallSlide{
            transform:rotate(180deg);
            position: absolute;
            top:350px;
            left:5%;
            width:90px;

            h1{
                font-size: 3.75rem;
                font-weight: 600;
                color:#fff;
                transform:rotate(-180deg);	
            }
            .slick-dots{
                margin-bottom:110px;
                margin-left:10px;
                

                button{
                color:#fff !important;
                }
                button::before{
                    color:#fff;
                    transition: .3s;
                }
                .slick-active button::before{
                    color: $primaryColor !important;
                    
                }
                transform:rotate(-180deg);	

            }

            .slick-arrow{
                width: 60px;
                height:60px;
                border:4px solid rgba($color: #74767d, $alpha: .4);
                border-radius: 50%;
                transition: .3s;

                &:hover{
                    border-color: #fff;
                }
            }
            .slick-prev{
                position: absolute;
                top:150px;
                left:20px;
                transform:rotate(-180deg);	
            }

            .slick-next{
                position: absolute;
                top:225px;
                left:20px;
                transform:rotate(-180deg);	
            }

            .slick-prev:before {
                content: url('./images/arrow-left-solid.svg');
            }

            .slick-next:before {
                content: url('./images/arrow-right-solid.svg');
            }
        }

    }

    @media screen and(max-width: 992px) {

        .SectionReviewCarousel{
            height: 150vh !important;
        }

        .BlueBlock{
            width: 100% !important;
            top: 30% !important;
            height: 650px !important;
        }

        .SmallSlide{
            display: none !important;
        }

        .BigSlide{
            max-width: 90% !important;
            height: 650px !important; 



            .TripDesCarouselSmallBox{
                position: relative;
                height:650px !important;

                img{
                    height: 100% !important;
                }

                .container-fluid{
                    height:650px !important;

                    .row{
                        height:650px !important;

                        .countryFrame{
                            height: 400px !important;
                            // border: 1px solid red;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .commentCard{
                            display: block !important;
                            transform: translateY(-5%);
                            padding: 18px !important;
                        }
                    }
                }
            }

            .slick-slider{
                // height: 540px !important;
                height:650px !important;
            }

            .slick-list{
                height: 650px !important;
            }

            .slick-slide{
                height: 650px !important;
            }


        }
    }

}