$primaryColor: #242a3a;
$secColor: #96daf0;
$white: #fff;

.header-wrapper {
  position: relative;
  max-height: 90vh;

  .slick-prev {
    display: flex !important;
    justify-content: center;
    align-items: center;
    left: 0%;
    z-index: 10;
    width: 10%;
    height: 100%;
  }

  .left-arrow {
    position: relative;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.3s;
  }

  .left-arrow-ring {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid $white;
    z-index: -1;
  }

  .left-stick {
    position: relative;
    width: 30px;
    height: 1px;
    background-color: #fff;
    transition: 0.3s;
    left: 20px;
  }

  .slick-prev::before {
    content: "";
  }

  .slick-next {
    display: flex !important;
    justify-content: center;
    align-items: center;
    right: 0%;
    z-index: 10;
    width: 10%;
    height: 100%;
    // position: absolute;
    // top: 60%;
  }

  .right-arrow {
    position: relative;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.3s;
  }

  .right-arrow-ring {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid $white;
    z-index: -1;
  }

  .right-stick {
    position: relative;
    width: 30px;
    height: 1px;
    background-color: #fff;
    transition: 0.3s;
    right: 20px;
  }

  .slick-next::before {
    content: "";
  }

  .imgSlider {
    height: 90vh !important;

    .photo-frame {
      height: 90vh;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 130%;
        height: 130%;
        object-fit: cover;
        transition: 5s;
      }
    }

    .slick-slide {
      &.slick-active.slick-current {
        .photo-frame {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .black-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 2;
    transition: 0.5s ease-in-out;
    pointer-events: none;
  }

  .titleSlider {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    // border: 1px solid red;
    z-index: 3;
    text-align: center;

    .slick-list {
      height: 100%;

      .slick-track {
        height: 100%;

        .slick-slide {
          height: 100%;

          & > div {
            height: 100%;

            & > div {
              height: 100%;

              .slider-inner {
                height: 100%;
                margin: -30px 0 0 0;
              }
            }
          }
        }
      }
    }

    .information {
      color: #fff;
      margin-top: 20px;

      .people {
        padding: 0 10px;
      }
      .stars {
        padding: 0 15px 0 10px;
        border-left: 1px solid #fff;
        .star {
          width: 13px;
          height: 13px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .score {
        font-weight: 700;
      }
    }
  }

  .slick-list {
    max-height: 90vh;
  }

  .slider-inner {
    .slider-title {
      top: 50%;
    }

    .title-main {
      margin: 0;
      font-size: 70px;
      line-height: 70px;
    }

    a {
      position: relative;
      margin-top: 5%;
      width: 108px;
      display: block;
      text-decoration: none;
      box-sizing: content-box;
      font-size: 1rem;

      border: 1px solid $white;
      padding: 12px 25px;
      transition: 0.5s;

      .button-font {
        position: relative;
        color: $white;
        z-index: 3;
        transition: 0.5s;
      }

      .white-mask {
        width: 100%;
        height: 0%;
        background-color: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        transition: 0.3s;
        pointer-events: none;
      }
    }

    a:hover .button-font {
      color: $primaryColor;
    }

    a:hover .white-mask {
      height: 100%;
    }
  }

  .slider-title-sub {
    color: #96daf0;
  }

  .title-main {
    color: $white;
  }
}

@media screen and (max-width: 976px) {
  .slider-inner {
    .title-main {
      font-size: 60px !important;
    }

    a {
      padding: 5px 25px !important;
    }
  }
}

@media screen and (max-width: 851px) {
  .slider-inner {
    .title-main {
      font-size: 50px !important;
    }

    .more-btn {
      padding: 12px 25px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-wrapper {
    .slick-prev,
    .slick-next {
      display: none !important;
    }
  }
}
