.member-comment-filter-container {
  button {
    color: #242a3a;
    background-color: #fff;
    border-color: #eaeaea;
    border-radius: 0;
  }
  .dropdown-menu {
    width: 11.25rem;
    height: 9rem;
    border-radius: 0;
    transform: translate3d(0px, 50px, 0px) !important;
    overflow: scroll;
    a {
      border-bottom: 1px solid #eaeaea;
      padding: 1rem;
      color: #242a3a;
    }
  }
  .btn-primary.dropdown-toggle {
    background-color: #fff !important;
    border: 1px solid #eaeaea;
    color: #242a3a;
  }
}

// hover
.member-comment-filter-container button:hover {
  background-color: #fff;
  border: 1px solid #eaeaea;
  color: #242a3a;
}
.member-comment-filter-container button:hover {
  background-color: #fff;
  border: 1px solid #eaeaea;
  color: #242a3a;
}
