.member-comment-filter-container {
  button {
    color: #242a3a;
    background-color: #fff;
    border-color: #eaeaea;
    border-radius: 0;
  }

  button:active,
  button:focus {
    box-shadow: none !important;
  }

  .dropdown-menu {
    width: 11.25rem;
    height: 9rem;
    border-radius: 0;
    transform: translate3d(0px, 50px, 0px) !important;
    overflow: scroll;
    z-index: 998;
    a {
      border-bottom: 1px solid #eaeaea;
      padding: 1rem;
      color: #242a3a;
    }
  }

  .dropdown-menu::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  .btn-primary.dropdown-toggle {
    background-color: #fff !important;
    border: 1px solid #eaeaea;
    color: #242a3a;
  }
}

.member-comment-filter-container button:active {
  color: #242a3a !important;
  background-color: #fff !important;
  border-color: #eaeaea !important;
}

.member-comment-filter-container .dropdown-item:active {
  background-color: #fff !important;
}

// hover
.member-comment-filter-container button:hover {
  background-color: #fff;
  border: 1px solid #eaeaea;
  color: #242a3a;
}
.member-comment-filter-container button:hover {
  background-color: #fff;
  border: 1px solid #eaeaea;
  color: #242a3a;
}
