.TripDesCarouselBox{
   width: 100%;
	position: relative;
}
.BigSlide{
	width: 100%;
	height:540px !important;
	.slick-slider{
		height: 540px !important;
	}
	.TripDesCarouselImg{
		height: 540px;
	}
	.slick-list{
		height:540px !important;
	}
}
.SmallSlide{
	transform:rotate(180deg);
	position: absolute;
	top:400px;
	left:50px;
	width:90px;
	h1{
		font-size: 3.75rem;
		font-weight: 600;
		color:#fff;
		transform:rotate(-180deg);	
	}
	.slick-dots{
		margin-bottom:110px;
		margin-left:10px;
		button{
		color:#fff !important;
		}
		button::before{
			color:#fff
		}
		.slick-active button::before{
			color:#fff !important;
			
		}
		transform:rotate(-180deg);	

	}
	.slick-prev{
		position: absolute;
		top:150px;
		left:20px;
		width: 60px;
		height:60px;
		border:4px solid #eaeaea;
		border-radius: 50%;
		transform:rotate(-180deg);	

	}
	.slick-next:hover{
		border-color: #96DAF0;
	}
	.slick-prev:hover{
		border-color: #96DAF0;
	}
	.slick-next{
		position: absolute;
		top:225px;
		left:20px;
		width: 60px;
		height: 60px;
		border:4px solid #eaeaea;
		border-radius: 50%;
		transform:rotate(-180deg);	
	}
	.slick-prev:before {
		content: url('./images/arrow-left-solid.svg');
	}
	.slick-next:before {
		content: url('./images/arrow-right-solid.svg');
	}
}
@media(max-width:768px){
	.BigSlide{
		width: 100%;
		height:300px !important;
		.slick-slider{
			height: 300px !important;
		}
		.TripDesCarouselImg{
			height: 300px;
		}
		.slick-list{
			height:300px !important;
		}
	}
	.slick-dots{
		display: none;
	}
	.slick-prev{
		display: none;
	}
	.slick-next{
		display: none;
	}
	.SmallSlide{
		display: none;
	}
}
