.backGroundImg{
	width: 100%;
	img{
		width: 100%;	
		position: absolute;
		z-index: 1;
	}

}
.backGroundImgCover{
	width: 100%;
	height:1050px;
	background-image:-webkit-linear-gradient(bottom, #242a3a,#242a3ab5);
	position: absolute;
	z-index: 1;
}
.TripDesNavLocationImg{
	width: 30% !important;
	position: absolute;
	top:35%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	.st0{stroke:#74767d !important;}
}
.patternBlue{
	width: 100%;
	height: 1500px;
	background-image: url(./images/pattern-blue.jpg);
	background-color:#242a3a;
	background-repeat: repeat;
	position: relative;
}
.patternBlueInside{
	position: absolute;
	z-index: 30;
	top:35%;
	left:50%;
	transform: translate(-50%, -50%);
	h1{
		font-size:4.375rem;
		color:#fff;
		font-weight:300;
	}
	p{
		font-size:1.5rem;
		color:#96DAF0;
		letter-spacing: 10px;
		text-align: center;
		margin: auto;
	}
}

@media(max-width:1200px){
	// .patternBlueInside{
	// 	left:34%;
	// 	top:45%;
	// 	h1{
	// 		font-size:3rem;
	// 	}
	// 	p{
	// 		font-size:1.25rem;
	// 	}
	// }
	.backGroundImgCover{
		height:650px;
	}
}



@media(max-width:996px){

	.patternBlueInside{
		h1{
			font-size:2rem;
		}
	}
}

@media(max-width:992px){

	.backGroundImgCover{
		height:550px;
	}
	// .patternBlue{
	// 	height:1200px;
	// }
}




@media (max-width:768px){
	.backGroundImg{
		img{
			height: 400px;
		}
	}
	.TripDesNavLocationImg{
		// width:30% !important;
		top:25%;
		
	}

	.patternBlueInside{
		top: 25%;

		p{
			font-size: 1rem;
		}
	}


	.backGroundImgCover{
		height:400px;
	}
	// .patternBlue{
	// 	height: 950px;
	// }
	// .patternBlueInside{
	// 	left:30%;
	// 	top:35%;
	// 	h1{
	// 		font-size:2rem;
	// 	}
	// 	p{
	// 		font-size:1rem;
	// 	}
	// }
}