$primaryColor: #242a3a;
$secColor: #96daf0;


.ProductLeftMenuContainer{

	.bannerArea{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		// margin: 150px 0 100px 0;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: rgba($color: #242a3a, $alpha: .6);
			z-index: 10;
		}

		h1{
			// content: '';
			// display: flex;
			// justify-content: center;
			// align-items: center;
			color: #fff;
			font-size: 4.375rem;
			line-height: 60px;
			font-weight: 700;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 900;
			// border: 1px solid red;
			opacity: 1;
			// animation: upFadeIn .5s .5s ease-in-out forwards;
		}

		@media screen and (max-width: 700px){
			h1{
				font-size: 3rem;
			}
		}

		// @keyframes upFadeIn {
		// 	from{
		// 		top: 80%;
		// 		opacity: 0;
		// 	}
		// 	to{
		// 		top: 50%;
		// 		opacity: 1;
		// 	}
		// }
	}

	.productsSection{
		max-width: 1280px;
		padding-top: 150px;
		min-height: 150vh;
		.leftMenuRow{
			min-height: 150vh;
		}
	}

	.leftMenu{
		position: sticky;
		top: 0px;
		width: 364px;
		height: 750px;
		background: #F8F8F8;
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: center;
		padding:50px 15px 15px 15px;
		margin: 0;

		.dropdown{
			width: 80%;
		}


		.buttonTitle{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
			// border: 1px solid red;
			img{
				width: 20px;
				color:#242A3A;
				margin:10px;
			}
			p{
				margin-top:20px;
				color:#242A3A;
			}
		}
	
	}
	.searchBox{
		width: 80%;
		height: 45px;
		display:flex;
		justify-content: center;
		input{
			width: 230px;
			border:1px solid #EAEAEA;
			text-align: center;
		}
		input:focus{
			outline:none;
			border:1px solid #96DAF0;
		}
		.searchImg{
			background: #fff;
			width: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border:1px solid #EAEAEA;
			cursor: pointer;
		}

	}

	.dropDowns{
		width: 80%;

		.dropdown{
			width: 100%;
		}
	}
	


	.dropdown{
		width: 100%;

		.btn{
			width: 100% !important;
			background: #fff !important;
			color:#74767d;
			border:1px solid #EAEAEA;
			height: 50px !important;
			
			// text-align: start;
		}
		.btn:hover{
			color:#242A3A;
			border:1px solid #96DAF0;	
		}
		
	}
	.dropdown-menu{
		height: 200px !important;
		width: 100% !important;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.dropdown-item{
		height:50px !important;
		line-height: 50px;
		border-bottom: 1px solid #EAEAEA !important;
	}


	//價錢滑動條
	.makeStyles-root-1{
		width: 80% !important;
		margin: 50px auto 20px;
	}

	.MuiSlider-root{
		width: 100%;
		color:#96DAF0 !important;
	}
	.PrivateValueLabel-label-56{
		color:#242A3A !important;
	}


	.card-container{

		a{
			color: #242A3A;
			text-decoration: none;
		}

		.cardColumn{
			padding: 0px 10px 10px 10px;
			margin: 0 0 10px 0;
			position: relative;
		}

		.product-card{
			// position: absolute;
			padding: 15px;
			border: none;
			border: 1px solid #EAEAEA;
			transition: .3s;

			&:hover{
				// transform: translateY(-20px), rotate(1.5);
				box-shadow: 0 0 39px -3px rgba($color: #000, $alpha: .1)
			}
			.photoFrame{
				height: 200px;

				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			
			.card-body{
				padding: 15px;
				text-align: center;

				.brand{
					color: #ccc;
				}
			}
		}
	}

	.product-filter-menu{
		width: 100vw;
		height: 100vh;
		overflow-y: scroll;
		background-color: #fff;
		position: fixed;
		top: 0px;
		left: 100%;
		transition: .5s;
		z-index: 999;

		.product-fake-nav{
			width: 100%;
			height: 80px;
			background-color: $primaryColor;
		}

		.filterToggler{
			height: 80px;
			width: 80px;
			background-color: $secColor;
			border: none;


			.toggle-inner{
			  position: relative;
			  width: 26px;
			  height: 26px;
			  // border: 1px solid rgba(0, 0, 0, 0.397);
	  
			  .white-line{
				width: 32px;
				height: 4px;
				position: absolute;
				left: 0;
				
				transform-origin: left;
				background-color: #fff;
			  }
	  
			  .up-line{
				transform: translate(2px, 0px) rotate(45deg);
				top: 0;
				
			  }
	  
			  .down-line{
				bottom: 0;
				transform: translate(2px, 0px) rotate(-45deg);
			  }
			}
		  }

		  .list{
			width: 100%;

			.card{
			  border-radius: 0%;
			  width: 100%;
			}
			
			.card-header{
			  display: flex;
			  align-items: center;
			  height: 80px;
			  background-color: #fff;
			  border-bottom: 1px solid #eaeaea;
			  cursor: pointer;
			  transition: .3s;
	  
			  &:hover{
				background-color:  #eaeaea;;
			  }
	  
			  .svgFrame{
				height: 30px;
				width: 30px;
				margin: 0 15px 0 0;
	  
				img{
				  width: 100%;
				  height: 100%;
				  object-fit: contain;
				}
	  
	  
			  }
	  
			  #calender, #ring, #duration{
				width: 26px;
				height: 26px;
			  }
	  
			  p{
				font-size: 1.5rem;
				margin: 0;
				line-height: 80px;
			  }
			}
	  
			#days-of-stay{
			  border-bottom: 1px solid #ccc;
			}
	  
			.card-body{
			  padding: 0;


	  
			  .makeStyles-root-1{
				margin: 100px auto 0px;
	  
				.MuiSlider-root{
				  color:#96DAF0 !important;
				}
				.PrivateValueLabel-label-56{
				  color:#242A3A !important;
				}
			  }


	  
			  .searchDaysBtn{
				display: block;
				width: 150px;
				text-align: center;
				text-decoration: none;
				margin: 20px auto;
				color: $primaryColor;
				border: 1px solid $primaryColor;
				padding: 15px 25px;
				transition: .3s;
	  
				&:hover{
				  color: #fff;
				  background-color: $primaryColor;
				}
			  }
	  
			  ul{
				padding: 0;
				list-style: none;
	  
				li{
				  padding: 20px 20px 20px 40px;
				  font-size: 1.5rem;
				  cursor: pointer;
	  
				  &:hover{
					background-color: #eaeaea;
					transition: .3s;
				  }
				}
			  }
			}
		  }
	}

	.product-filter-btn{
		display: none !important;
		position: fixed;
		top: 50%;
		right: 0;
		width: 50px;
		height: 50px;
		background-color: $primaryColor;
		z-index: 5;
		transform: translateY(-50%);
		cursor: pointer;
		transition: .5s;

		div{
			width: 25px;
			height: 25px;
			pointer-events: none;

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}


	}

	.pagination{
		margin: 50px 0 ;
		list-style: none;
		justify-content: center;
			
		.page-item{
				color: $primaryColor;
				transition: .3s;
				cursor: pointer;
				border: 1px solid #ccc;
				width: 30px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $primaryColor;

				img{
					width: 15px;
					height: 15px;
					
				}

				&:hover{
					background-color: $secColor;
					color: #fff;
				}

				&:focus{
					box-shadow: none;
					outline: none;
				}

				
			}

			.page-item.active{
				background-color: $primaryColor;
				color: #fff;
				border: 1px solid $primaryColor;

			}
	}
}

@media screen and (max-width: 992px) {

	.ProductLeftMenuContainer{
		.leftMenuContent{
			display: none;
		}
	
		.product-filter-btn{
			display: flex !important;
		}

		.bannerArea{
			height: 500px;

			&::before{
				height: 500px;
			}

			h1{
				top: 30%
			}
		}
	}
}