@charset "UTF-8";
.ProductLeftMenuContainer .bannerArea {
  height: 90vh;
}

.ProductLeftMenuContainer .bannerArea img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ProductLeftMenuContainer .bannerArea::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: rgba(36, 42, 58, 0.6);
  z-index: 10;
}

.ProductLeftMenuContainer .bannerArea::after {
  content: '戶外用品';
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 15;
  opacity: 0;
  -webkit-animation: upFadeIn .5s .5s ease-in-out forwards;
          animation: upFadeIn .5s .5s ease-in-out forwards;
}

@-webkit-keyframes upFadeIn {
  from {
    top: 80%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes upFadeIn {
  from {
    top: 80%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.ProductLeftMenuContainer .productsSection {
  min-height: 150vh;
}

.ProductLeftMenuContainer .productsSection .leftMenuRow {
  min-height: 150vh;
}

.ProductLeftMenuContainer .leftMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  width: 100%;
  height: 750px;
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 15px 15px 15px;
  margin: 0;
}

.ProductLeftMenuContainer .searchBox {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ProductLeftMenuContainer .searchBox input {
  width: 230px;
  border: 1px solid #EAEAEA;
  text-align: center;
}

.ProductLeftMenuContainer .searchBox input:focus {
  outline: none;
  border: 1px solid #96DAF0;
}

.ProductLeftMenuContainer .searchBox .searchImg {
  background: #fff;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
  cursor: pointer;
}

.ProductLeftMenuContainer .dropDowns {
  width: 100%;
}

.ProductLeftMenuContainer .buttonTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.ProductLeftMenuContainer .buttonTitle img {
  width: 20px;
  color: #242A3A;
  margin: 10px;
}

.ProductLeftMenuContainer .buttonTitle p {
  margin-top: 20px;
  color: #242A3A;
}

.ProductLeftMenuContainer .dropdown {
  width: 100%;
}

.ProductLeftMenuContainer .dropdown .btn {
  width: 100% !important;
  background: #fff !important;
  color: #74767d;
  border: 1px solid #EAEAEA;
  height: 50px !important;
}

.ProductLeftMenuContainer .dropdown .btn:hover {
  color: #242A3A;
  border: 1px solid #96DAF0;
}

.ProductLeftMenuContainer .dropdown-menu {
  height: 200px !important;
  width: 100% !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ProductLeftMenuContainer .dropdown-item {
  height: 50px !important;
  line-height: 50px;
  border-bottom: 1px solid #EAEAEA !important;
}

.ProductLeftMenuContainer .makeStyles-root-1 {
  width: 80% !important;
  margin: 50px auto 20px;
}

.ProductLeftMenuContainer .MuiSlider-root {
  width: 100%;
  color: #96DAF0 !important;
}

.ProductLeftMenuContainer .PrivateValueLabel-label-56 {
  color: #242A3A !important;
}

.ProductLeftMenuContainer .card-container a {
  color: #242A3A;
  text-decoration: none;
}

.ProductLeftMenuContainer .card-container .product-card {
  padding: 15px;
  border: none;
}

.ProductLeftMenuContainer .card-container .product-card .photoFrame {
  height: 200px;
}

.ProductLeftMenuContainer .card-container .product-card .photoFrame img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ProductLeftMenuContainer .card-container .product-card .card-body {
  padding: 15px;
  text-align: center;
}

.ProductLeftMenuContainer .product-filter-menu {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 999;
}

.ProductLeftMenuContainer .product-filter-menu .product-fake-nav {
  width: 100%;
  height: 80px;
  background-color: #242a3a;
}

.ProductLeftMenuContainer .product-filter-menu .filterToggler {
  height: 80px;
  width: 80px;
  background-color: #96daf0;
  border: none;
}

.ProductLeftMenuContainer .product-filter-menu .filterToggler .toggle-inner {
  position: relative;
  width: 26px;
  height: 26px;
}

.ProductLeftMenuContainer .product-filter-menu .filterToggler .toggle-inner .white-line {
  width: 32px;
  height: 4px;
  position: absolute;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #fff;
}

.ProductLeftMenuContainer .product-filter-menu .filterToggler .toggle-inner .up-line {
  -webkit-transform: translate(2px, 0px) rotate(45deg);
          transform: translate(2px, 0px) rotate(45deg);
  top: 0;
}

.ProductLeftMenuContainer .product-filter-menu .filterToggler .toggle-inner .down-line {
  bottom: 0;
  -webkit-transform: translate(2px, 0px) rotate(-45deg);
          transform: translate(2px, 0px) rotate(-45deg);
}

.ProductLeftMenuContainer .product-filter-menu .list {
  width: 100%;
}

.ProductLeftMenuContainer .product-filter-menu .list .card {
  border-radius: 0%;
  width: 100%;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-header:hover {
  background-color: #eaeaea;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-header .svgFrame {
  height: 30px;
  width: 30px;
  margin: 0 15px 0 0;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-header .svgFrame img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-header #calender, .ProductLeftMenuContainer .product-filter-menu .list .card-header #ring, .ProductLeftMenuContainer .product-filter-menu .list .card-header #duration {
  width: 26px;
  height: 26px;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-header p {
  font-size: 1.5rem;
  margin: 0;
  line-height: 80px;
}

.ProductLeftMenuContainer .product-filter-menu .list #days-of-stay {
  border-bottom: 1px solid #ccc;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-body {
  padding: 0;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-body .makeStyles-root-1 {
  margin: 100px auto 0px;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-body .makeStyles-root-1 .MuiSlider-root {
  color: #96DAF0 !important;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-body .makeStyles-root-1 .PrivateValueLabel-label-56 {
  color: #242A3A !important;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-body .searchDaysBtn {
  display: block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  margin: 20px auto;
  color: #242a3a;
  border: 1px solid #242a3a;
  padding: 15px 25px;
  -webkit-transition: .3s;
  transition: .3s;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-body .searchDaysBtn:hover {
  color: #fff;
  background-color: #242a3a;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-body ul {
  padding: 0;
  list-style: none;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-body ul li {
  padding: 20px 20px 20px 40px;
  font-size: 1.5rem;
  cursor: pointer;
}

.ProductLeftMenuContainer .product-filter-menu .list .card-body ul li:hover {
  background-color: #eaeaea;
  -webkit-transition: .3s;
  transition: .3s;
}

.ProductLeftMenuContainer .product-filter-btn {
  display: none !important;
  position: fixed;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #242a3a;
  z-index: 5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.ProductLeftMenuContainer .product-filter-btn div {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.ProductLeftMenuContainer .product-filter-btn div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ProductLeftMenuContainer .pagination {
  margin: 50px 0;
}

.ProductLeftMenuContainer .pagination .page-item .page-link {
  color: #242a3a;
  -webkit-transition: .3s;
  transition: .3s;
}

.ProductLeftMenuContainer .pagination .page-item .page-link:hover {
  background-color: #96daf0;
  color: #fff;
}

.ProductLeftMenuContainer .pagination .page-item .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.ProductLeftMenuContainer .pagination .page-item.active .page-link {
  background-color: #242a3a;
  color: #fff;
  border: 1px solid #242a3a;
}

@media screen and (max-width: 992px) {
  .ProductLeftMenuContainer .leftMenuContent {
    display: none;
  }
  .ProductLeftMenuContainer .product-filter-btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
/*# sourceMappingURL=ProductLeftMenu.css.map */