.filter-home-container .row-no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.filter-home-container .margin-auto {
  margin: auto;
}

.filter-home-container .d-flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.filter-home-container .d-flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.filter-home-container .main-filter-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  -webkit-box-shadow: 0 8px 8px #8888883f;
          box-shadow: 0 8px 8px #8888883f;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 900;
}

.filter-home-container .filter-icon-container {
  border-right: 1px solid #d3d4d7;
  margin: auto;
  height: 75px;
}

.filter-home-container .filter-icon {
  color: #242a3a !important;
  background-color: #fff !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  font-weight: 250 !important;
}

.filter-home-container .filter-icon-title {
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
  color: #242a3a;
}

.filter-home-container .toggle-menu {
  width: 100%;
  height: 200px;
  border-radius: 0 !important;
  overflow: scroll;
}

.filter-home-container .toggle-item {
  margin: auto;
  border-bottom: 1px solid #242a3a2e !important;
  font-size: 14px;
  padding: 1rem;
  color: #242a3a;
}

.filter-home-container .main-filter-btn {
  color: #fff !important;
  background-color: #030b24 !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  height: 75px;
  width: 120px;
}

.filter-home-container .search-btn {
  cursor: pointer;
  height: 75px;
  background-color: #fff;
}

.filter-home-container .searchbox-input-container {
  -webkit-box-flex: 6 !important;
      -ms-flex: 6 !important;
          flex: 6 !important;
  border-right: 1px solid #d3d4d7;
  background-color: #fff;
}

.filter-home-container .searchbox-input {
  height: 70%;
  border-radius: 0 !important;
  margin: 10px 15px;
  background-color: #f3f3f3;
  border: none;
}

.filter-home-container .before-rwd {
  display: none;
}

.filter-home-container .main-filter-container-rwd {
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 900;
  max-width: 250px;
  height: 75px;
  margin: auto;
  cursor: pointer;
  -webkit-box-shadow: 0 8px 8px #8888883f;
          box-shadow: 0 8px 8px #8888883f;
}

.filter-home-container .main-filter-container-rwd .icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #d3d4d7;
  background-color: #fff;
}

.filter-home-container .main-filter-container-rwd .search {
  position: relative;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: #030b24;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-home-container .main-filter-container-rwd .search p {
  margin: auto;
}

.filter-home-container .main-filter-container-rwd .search .anotherSearch {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.filter-home-container .filter-icon:hover {
  background-color: #242a3a !important;
  color: #fff !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filter-home-container .filter-icon:hover .filter-icon-title {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filter-home-container .filter-icon:hover .location,
.filter-home-container .filter-icon:hover .trac,
.filter-home-container .filter-icon:hover .binoculars {
  fill: #fff;
  color: #fff !important;
}

.filter-home-container .search-btn:hover .search {
  fill: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filter-home-container .search-btn:hover {
  background-color: #242a3a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filter-home-container .main-filter-btn:hover {
  background-color: #232323 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filter-home-container .filter-menu {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 999;
}

.filter-home-container .filter-menu .fakeNav {
  background-color: #242a3a;
}

.filter-home-container .filter-menu .filterToggler {
  height: 80px;
  width: 80px;
  background-color: #96daf0;
  cursor: pointer;
}

.filter-home-container .filter-menu .filterToggler .toggle-inner {
  position: relative;
  width: 26px;
  height: 26px;
}

.filter-home-container .filter-menu .filterToggler .toggle-inner .white-line {
  width: 32px;
  height: 4px;
  position: absolute;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #fff;
}

.filter-home-container .filter-menu .filterToggler .toggle-inner .up-line {
  -webkit-transform: translate(2px, 0px) rotate(45deg);
          transform: translate(2px, 0px) rotate(45deg);
  top: 0;
}

.filter-home-container .filter-menu .filterToggler .toggle-inner .down-line {
  bottom: 0;
  -webkit-transform: translate(2px, 0px) rotate(-45deg);
          transform: translate(2px, 0px) rotate(-45deg);
}

.filter-home-container .filter-menu .list .card {
  border-radius: 0%;
}

.filter-home-container .filter-menu .list .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.filter-home-container .filter-menu .list .card-header:hover {
  background-color: #eaeaea;
}

.filter-home-container .filter-menu .list .card-header .svgFrame {
  height: 30px;
  width: 30px;
  margin: 0 15px 0 0;
}

.filter-home-container .filter-menu .list .card-header .svgFrame img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.filter-home-container .filter-menu .list .card-header #calender, .filter-home-container .filter-menu .list .card-header #ring, .filter-home-container .filter-menu .list .card-header #duration {
  width: 26px;
  height: 26px;
}

.filter-home-container .filter-menu .list .card-header p {
  font-size: 1.5rem;
  margin: 0;
  line-height: 80px;
}

.filter-home-container .filter-menu .list #days-of-stay {
  border-bottom: 1px solid #ccc;
}

.filter-home-container .filter-menu .list .card-body {
  padding: 0;
}

.filter-home-container .filter-menu .list .card-body .makeStyles-root-1 {
  margin: 100px auto 0px;
}

.filter-home-container .filter-menu .list .card-body .makeStyles-root-1 .MuiSlider-root {
  color: #96DAF0 !important;
}

.filter-home-container .filter-menu .list .card-body .makeStyles-root-1 .PrivateValueLabel-label-56 {
  color: #242A3A !important;
}

.filter-home-container .filter-menu .list .card-body .searchDaysBtn {
  display: block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  margin: 20px auto;
  color: #242a3a;
  border: 1px solid #242a3a;
  padding: 15px 25px;
  -webkit-transition: .3s;
  transition: .3s;
}

.filter-home-container .filter-menu .list .card-body .searchDaysBtn:hover {
  color: #fff;
  background-color: #242a3a;
}

.filter-home-container .filter-menu .list .card-body ul {
  padding: 0;
  list-style: none;
}

.filter-home-container .filter-menu .list .card-body ul li {
  padding: 20px 20px 20px 40px;
  font-size: 1.5rem;
  cursor: pointer;
}

.filter-home-container .filter-menu .list .card-body ul li:hover {
  background-color: #eaeaea;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .filter-home-container .main-filter-container {
    display: none;
  }
  .filter-home-container .before-rwd {
    display: block;
  }
}
/*# sourceMappingURL=TripMenuFilter.css.map */