$primaryColor: #242a3a;
$secColor:#96daf0;

body{
    overflow-x: hidden;
}
.n66navbar{
    width: 100%;
    padding: 0 40px;
    background-color: transparent;
    box-shadow: none;
    transition: background-color .5s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

.n66toggler{
    
    height: 80px;
    width: 80px;
    border-left: 1px solid rgba($color: #fff, $alpha: 0.4);
    cursor: pointer;
    display: none !important;
    transition: .5s;
}

.toggle-inner{
    width: 32px;
    height: 26px;
}

.white-line{
    width: 100%;
    height: 4px;
    background-color: rgba($color: #fff, $alpha: 0.4);
    transform-origin: left;
    transition: transform .5s , opacity .3s;
}

.brand{
    padding-top: 64px;
    width: 120px;
    height: 85px;
    box-sizing: content-box;
    display: flex;
    align-items: center;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.n66collapse{
    
    max-width: 936px;
    margin-left: auto;
    margin-top: auto;
    
    
    .nav-top{
        margin-right: 25px;
    }

    .nav-top-item{
        opacity: 0.5;
        position: relative;
        box-sizing: content-box;
        padding:  18px !important;
        color: #fff !important;
        text-decoration: none;
        transition: .5s;

        .email{
            padding-right: 8px;
            height: 8px;
        }


        .user{
            padding-right: 8px;
            height: 12px;
        }

        .phone{
            padding-right: 8px;
            height: 12px;
        }
    }

    .nav-top-item:hover{
        opacity: 1;
    }

    .nav-top-item::after{
        content: '';
        display: block;
        width: 1px;
        height: 14px;
        position: absolute;
        top: 30%;
        right: 0;
        z-index: 2;
        background-color: #fff;
    }

    .nav-bottom{
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
    }

    .nav-item{
        position: relative;
        box-sizing: content-box;
        padding: 28px 25px !important;
        transition: 0.5s;
        font-size: 1.2rem;
        
        opacity: .5;
        text-align: right;
        color: #fff !important;
        text-decoration: none;
        transition: .5s;

        .blue-line{
            height: 2px;
            border-radius: 1px;
            background-color: $secColor;
            width: 0%;
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0);
            transition: .3s ease-out;
        }
    }

    .nav-item:hover{
        opacity: 1;
    }

    .nav-item:hover .blue-line{
        width: 100%;
    }
}

.right-menu{
    position: absolute;
    top: 80px;
    left: 100%;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: #fff;
    padding: 0;
    transition: .5s;
    z-index: 999;
    
    li{
        position: relative;
        border-bottom: 1px solid #cacbce;
        display: flex;
        align-items: center;
        padding: 20px 0;
    }

    li::before{
        content: "";
        
        font-weight: bold;
        background-color: $secColor;
        border-radius: 50%;

        position: absolute;
        height: 8px;
        width: 8px;
        display: block;
        top: 50%;
        left: 20px;
        transform: translate(-50%,-50%);
    }


    a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        margin-left: 40px ;
        h5{
            margin: 0 0 3px 0;
        }
        h6{
            margin: 0;
        }
        h5, h6{
            color: $primaryColor;
            // text-decoration: none;
        }
    }
}




@media screen and (max-width: 850px){
    .n66navbar{

        padding: 0 0 0 40px;
        align-items: center;
        border-bottom: 1px solid #fff;
        background-color: transparent;
    }

    .brand{
        padding: 0;
        width: 80px !important;
        // height: 69px ;
        img{
            // width: 80px;
            height: 65px;
        }
       
    }

    .n66collapse{
        display: none;
    }

    .n66toggler{
        display: flex !important;
    }

    
}

@media screen and (min-width: 851px){
    .right-menu{
        left: 100%;
    }
}

@media screen and (max-width: 765px){
    .n66navbar{
        height: 60px !important;
        align-items: center;
    }

    .n66toggler{
        height: 60px !important;
        width: 60px !important;
    }

    .brand{
        img{
            height: 55px;
        }
       
    }
}
