$primaryColor: #242a3a;
$secColor: #96daf0;

body {
  overflow-x: hidden;
}

.navbar-container {
  padding: 0 !important;
  border-bottom: 1px solid #d5d5d5;
  background-color: #fff;
  
}

.nabar-items-container {
  height: 100%;
}

.navbar-logo {
  margin-left: 2rem;
}

.navbar-item {
  position: relative;
  margin: auto;
  padding: 0.5rem 2rem 0.5rem 2rem !important;
  border-bottom: 1px solid #8b8989;
  color: #242a3a;
  font-size: 1rem;
  transition: 0.3s;
}

.navbar-item span {
  color: #8b8989;
  transition: 0.3s;
}

.blue-line {
  width: 0%;
  height: 2px;
  background-color: $secColor;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.3s;
  z-index: 2;
}

.navbar-item:hover .blue-line {
  width: 100%;
}

.navbar-item:hover span {
  color: $primaryColor;
}

.icon-container {
  width: 80px;
  height: 80px;
  display: flex;
  border-left: 1px solid #d5d5d5;
  transition: 0.5s;
}

.icon-container:hover {
  background-color: #96daf0;
}

.icon-container:hover .user-icon {
  fill: #fff;
}

.icon-container:hover .cart-icon {
  fill: #fff;
}

.user-icon {
  margin: auto;
  transition: 0.3s;
}

.cart-icon {
  margin: auto;
  transition: 0.3s;
}

.breadcrumb {
  width: 100%;
  background-color: $primaryColor;
  border-radius: 0;
  padding: 0 0 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0%;
  transform: translate(0, 100%);

  a {
    color: #fff;
    font-size: 0.75rem;
  }

  span {
    color: #96daf0;
    font-size: 0.75rem;
  }
}

.breadcrumb-item::before {
  content: ">";
}

.navBtn {
  display: none !important;
  height: 80px !important;
  width: 80px !important;
  background-color: #fff !important;
  cursor: pointer;
  border-left: 1px solid #d5d5d5;
  transition: 0.5s;

  .toggle-inner {
    width: 32px;
    height: 26px;
  }

  .darkblue-line {
    width: 100%;
    height: 4px;
    background-color: $primaryColor;
    transform-origin: left;
    transition: transform 0.5s, opacity 0.3s;
  }
}

.right-menu {
  position: absolute;
  top: 81px;
  left: 100%;
  width: 100%;
  height: 100vh;
  list-style: none;
  background-color: #fff;
  padding: 0;
  transition: 0.5s;
  z-index: 999;

  li {
    position: relative;
    border-bottom: 1px solid #cacbce;
    display: flex;
    align-items: center;
    padding: 20px 0;
  }

  li::before {
    content: "";

    font-weight: bold;
    background-color: $secColor;
    border-radius: 50%;

    position: absolute;
    height: 8px;
    width: 8px;
    display: block;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin-left: 40px;
    h5 {
      margin: 0 0 3px 0;
    }
    h6 {
      margin: 0;
    }
    h5,
    h6 {
      color: $primaryColor;
      // text-decoration: none;
    }
  }
}

@media screen and (max-width: 858px) {
  .navBtn {
    display: flex !important;
  }

  .navCollapse {
    display: none;
  }
}

@media screen and (min-width: 859px) {
  .right-menu {
    left: 100%;
  }
}
