body {
  overflow-x: hidden;
}

.navbar-container {
  width: 100%;
  padding: 0 !important;
  border-bottom: 1px solid #d5d5d5;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar-container .nabar-items-container {
  height: 100%;
}

.navbar-container .navbar-logo {
  margin-left: 2rem;
}

.navbar-container .navbar-item {
  position: relative;
  margin: auto;
  padding: 0.5rem 2rem 0.5rem 2rem !important;
  border-bottom: 1px solid #8b8989;
  color: #242a3a;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-container .navbar-item span {
  color: #8b8989;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-container .blue-line {
  width: 0%;
  height: 2px;
  background-color: #96daf0;
  position: absolute;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.navbar-container .navbar-item:hover .blue-line {
  width: 100%;
}

.navbar-container .navbar-item:hover span {
  color: #242a3a;
}

.navbar-container .icon-container {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #d5d5d5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-container .icon-container:hover {
  background-color: #96daf0;
}

.navbar-container .icon-container:hover .user-icon {
  fill: #fff;
}

.navbar-container .icon-container:hover .cart-icon {
  fill: #fff;
}

.navbar-container .icon-container:hover .cart-icon {
  fill: #fff;
}

.navbar-container .icon-container:hover .logout-icon {
  fill: #fff;
}

.navbar-container .user-icon {
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-container .cart-icon {
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-container .cart {
  position: relative;
}

.navbar-container .cart div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #242a3a;
  color: #96daf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 12px;
  pointer-events: none;
}

.navbar-container .logout-icon {
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-container .breadcrumb {
  width: 100%;
  background-color: #242a3a;
  border-radius: 0;
  padding: 0 0 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0%;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.navbar-container .breadcrumb a {
  color: #fff;
  font-size: 0.75rem;
}

.navbar-container .breadcrumb span {
  color: #96daf0;
  font-size: 0.75rem;
}

.navbar-container .breadcrumb-item::before {
  content: ">";
}

.navbar-container .navBtn {
  display: none !important;
  height: 80px !important;
  width: 80px !important;
  background-color: #fff !important;
  cursor: pointer;
  border-left: 1px solid #d5d5d5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-container .navBtn .toggle-inner {
  width: 32px;
  height: 26px;
}

.navbar-container .navBtn .darkblue-line {
  width: 100%;
  height: 4px;
  background-color: #242a3a;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
}

.navbar-container .right-menu {
  position: absolute;
  top: 104px !important;
  left: 100%;
  width: 100%;
  height: 100vh;
  list-style: none;
  background-color: #fff;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 999;
}

.navbar-container .right-menu li {
  position: relative;
  border-bottom: 1px solid #cacbce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.navbar-container .right-menu li::before {
  content: "";
  font-weight: bold;
  background-color: #96daf0;
  border-radius: 50%;
  position: absolute;
  height: 8px;
  width: 8px;
  display: block;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navbar-container .right-menu a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  margin-left: 40px;
}

.navbar-container .right-menu a h5 {
  margin: 0 0 3px 0;
}

.navbar-container .right-menu a h6 {
  margin: 0;
}

.navbar-container .right-menu a h5,
.navbar-container .right-menu a h6 {
  color: #242a3a;
}

@media screen and (max-width: 900px) {
  .navbar-container .navBtn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .navbar-container .navCollapse {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .navbar-container .right-menu {
    left: 100%;
  }
}
/*# sourceMappingURL=NavBar.css.map */